[2015-05-09 08:21] theGeekPirate opened #3 "Failed to load systray.dll (not a valid Win32 application)"
Running main.go using go1.4.2 windows/amd64 from the example folder, on a Windows 8.1 machine:

[code]

I thought the file path looked funky, but even after correcting the path.Joins with filepath.Joins (which turns the "/" into "\" in the file path), I received the exact same error message. The DLL file does in fact exist in that directory.

Any ideas?

[2015-05-10 01:29] fffw commented on #3
@theGeekPirate I just pushed back fresh changes from https://github.com/getlantern/lantern to here, could you try again?

[2015-05-10 07:47] theGeekPirate commented on #3
@fffw I still receive the same error message unfortunately.

[2015-05-12 04:56] myleshorton commented on #3
I believe it's a 32 bit dll that you're trying to load in a 64 bit program, but not sure.

[2015-05-27 10:27] thomasf commented on #3
Why do you use this dll packaging method instead of just using mingw/cgo directly?... Using mingw also allows for cross complilation which makes it is easier to develop from *nix systems.

[2015-05-27 10:53] theGeekPirate commented on #3
@thomasf Because it requires MinGW, which is an unnecessary extra step and adds complexity.

Cross-compilation is run on multiple machines running in parallel anyways, so that would actually slow down compilation in this case =)

[2015-05-27 14:54] thomasf commented on #3
Alright.. I have built a Dockerfile/Docker container which let's me build my tray icon lib for osx/windows/ubuntu 32/64 (with the ironic exception of 32 bit linux, could probably be fixed) using a single easily repeatable image/configuration.

I buy that the way you are doing it might be easier for a windows developer or someone who don't know much about c toolchain configuration but the actual wa

[2015-05-27 15:14] xiam commented on #3
Hello @thomasf,

We are also using Docker for building Lantern for OSX/Windows and Linux, see https://github.com/getlantern/lantern/blob/valencia/Dockerfile, this also takes care of systray, do you think we could do this simpler? Do you have some docs we could read to learn how?

Thanks!

[2015-05-27 15:19] thomasf commented on #3
We are in th

[2015-05-27 15:34] thomasf commented on #3
Since we are in the same "buisness" ( https://github.com/alkasir/alkasir ) I'm looking to find synergies and reuse as much as possible, I will try to scrap mine in favour for yours..  I cannot directly share all of the source yet..

I'm using [osxcross](https://github.com/tpoechtrager/osxcross) for the osx part. A procedure is needed to create archives of the osx frameworks.

The only build target

[2015-05-27 15:44] xiam commented on #3
Thanks @thomasf,

We also tried Debian and did not like the results so we switched to Fedora, we found it has better support for proper multiarch isolation so it may probably help you too.

We haven't tried with osxcross but it looks very interesting, thanks for the tip!

[2015-05-27 15:54] thomasf commented on #3
Thanks for the fedora tip, I did not think about trying that.
 I guess the "problems" with building osx apps outside of osx is the inability to sign stuff using the apple tools but very handy for all other purposes.

[2015-05-30 12:13] thomasf commented on #3
I'm not saying its all done yet but I have converted the windows stuff to also use cgo here:
https://github.com/thomasf/systray/commit/e7db1d3b3c5f51d1bdd9bb27b8f19bbec14de025

[2015-05-31 09:46] thomasf commented on #3
hmm, ok I found this commit which https://github.com/getlantern/systray/commit/716d9c5dab42dd38b7a8a3dd6cd05d7877b580bf which more or less removes easy cross compilation support.

[2015-06-11 02:18] lanlan2015 opened #4 "MVE:Skipping file IMG000.jpg, cannot load image."
when I use makescene,the code as follows：
cp@cp-virtual-machine:~/pan/mve/apps/makescene$ ./makescene -o -i /home/cp/pan/mve/apps/makescene/images /home/cp/pan/mve/apps/makescene/mm
Found 1 directory entries.
Creating output directories...
Importing image IMG000.jpg...
Skipping file IMG000.jpg, cannot load image.
Imported 0 input images.
how to solve this problem?

[2015-06-11 02:25] fffw commented on #4
@lanlan2015 Are you posting to wrong repo?

[2015-06-11 02:25] #4 closed

[2015-06-11 02:29] lanlan2015 commented on #4
If I change the JPG picture to  TIFF picture，it can be compiled successfully。I don't know why？@fffw

[2015-06-11 02:53] fffw commented on #4
@lanlan2015 You didn't post any compilation error of `systray`. I have no idea what `makescene` is.

[2015-06-11 02:56] lanlan2015 commented on #4
I have found the way。Thanks for you help

[2015-06-11 02:57] lanlan2015 commented on #4
I have found the way.Thanks for you help.@fffw

[2015-06-11 03:02] fffw commented on #4
Great. Hope you are doing well.

[2015-08-24 10:04] thomasf opened #5 "gtk version of Run blocks forever."
Adding a call to `gtk_main_quit();` at the bottom of the do_quit C function seems to fix this.

[2015-08-24 10:20] thomasf commented on #5
hmm, the osx version does the same.. Is this documentation not supposed to be correct?:

[code]

Anway what the docs says should probably happen since I'm getting race conditions in my shutdown procedures.

[2015-08-24 11:37] thomasf commented on #5
Something like this for windows, maybe:

[code]

[2015-08-24 21:31] myleshorton commented on #5
Thanks @thomasf! Just to be clear, when you say the "program exists before teardown of native GUI finishes" are you saying the system tray sticks around after Lantern exits? Or just does so sometimes due to race conditions? I'd just like to get a better handle on exactly the problem you're seeing.

[2015-08-24 21:35] myleshorton commented on #5
Just wanted to make sure you're seeing this as well @fffw.

[2015-08-25 06:32] fffw commented on #5
Thanks @thomasf! You are right systray just removes itself from the tray area, but the main loop still runs. When it's used by Lantern, caller will terminate the program after turning off systray, but it might not be suitable for your case. It's great that you find a way to exit the loop without quitting the program.

[2015-08-25 11:25] thomasf commented on #5
I'm working on another application alltogehter, so not lantern. I have my own fork of systray as well with some adaptions for my specific use.. Just wanted to say this because of what the documentation states..

[2015-08-27 11:11] thomasf commented on #5
A large part of my recent "race condition" problems was  a go 1.5 cgo stack frame which caused lot's of issues  here and there..(  https://github.com/golang/go/issues/12238 )

The osx code above just exits the application immediately but the other two OS solutions seems to work.

[2015-10-04 11:59] liudanking opened #6 "OS X menuZone seems deprecated: warning: 'menuZone' is deprecated: first deprecated in OS X 10.11 [-Wdeprecated-declarations]"

[2015-10-29 10:31] liudanking opened #8 "Feature request: support retina display for OS X"
Systray only uses the same icon for both normal and retina display which makes systray icon looks not smooth for retina display.
To support retina display icon, it may need to update some OC codes. As I am not a OC programmer, hope someone will implement it.

[2015-10-29 19:53] myleshorton commented on #8
@carsonefv or @Derekf5 you guys want to take a look at this?

[2015-11-07 14:26] brandonwamboldt opened #9 "Feature Request: Menu Separators"
I'm looking into getting this project compiling locally, having trouble with VS2008. I would love menu separator support though.

[2015-11-09 03:57] fffw commented on #9
It's a Go library so I don't expect it to be compiled with VS2008.

It does lack of several features, icons, shortcuts, radio boxes, etc, though we have no strong motivation to add them as Lantern project doesn't require any of them for now.

[2016-01-22 05:01] zymtom commented on #3
I've also had this issue when trying to use systray today, what should I do?
I skimmed through this thread and I found nothing, has anyone discovered a solution or anything?
also: go version go1.5.3 windows/amd64

[2016-03-25 23:45] Xymist opened #10 "Cannot build for OSX from Linux"
I have a little app to which I have added this; it builds fine for Linux and Windows, but on attempting to compile for Darwin I get this:

Can't build package github.com/getlantern/systray because it contains Objective-C files (systray_darwin.m) but it's not using cgo nor SWIG

I'm pretty sure that last part is not true. Is this something previously seen?

[2016-06-11 21:02] xor-gate commented on #8
I is way more difficult than we think because apple loads the `@2x` images by itself if supplied:
https://developer.apple.com/library/mac/documentation/GraphicsAnimation/Conceptual/HighResolutionOSX/Optimizing/Optimizing.html

[2016-06-11 22:30] xor-gate commented on #9
Hi all, i needed separators to make the menu more convinient with more than 3 item (and status items). So I hacked together in #12 separators for osx.

[2016-06-12 15:05] liudanking commented on #8
@xor-gate Awesome! It woks like a charm.

[2016-06-12 16:11] liudanking commented on #8
@xor-gate  I meet another problem:

After I packaged may golang-app into a OSX application, say foo.app, the retina icon is gone.
It seems that OS X add some actions when launching foo.app, but have no idea what did it do.

[2016-06-12 16:13] xor-gate commented on #8
The icon is gone? You must make sure you load the tiff as byte array and not the png.

[2016-06-12 16:17] liudanking commented on #8
I mean the retina icon is not shown, only the default one is show.
I am pretty sure I load the tiff as byte array, because if I copy `foo.app/Contents/MacOS/foo` to a normal directory, and launch foo with `./foo`, the retina icon is displayed.

[2016-06-12 16:19] xor-gate commented on #8
Probably the application bundle loader is not properly configured to have support for multiimage. Could you paste your Plist.info ?

[2016-06-12 16:22] liudanking commented on #8
[code]

[2016-06-12 16:26] xor-gate commented on #8
Try adding:

[code]

As: https://developer.apple.com/library/ios/documentation/General/Reference/InfoPlistKeyReference/Articles/LaunchServicesKeys.html

See my `Info.plist`: https://github.com/xor-gate/syncthing-mac/blob/master/template/Contents/Info.plist

[2016-06-12 16:41] liudanking commented on #8
I still can not make it working after adding `LSMinimumSystemVersion `.

[2016-06-13 13:23] liudanking commented on #8
@xor-gate With some luck, the problem is solved by adding:

[code]

Many thanks for your help.

[2016-06-13 13:26] xor-gate commented on #8
Great! As mentioned before the OS X executable loader in combination with `Foundation.framework` has some builtin features which are controlled by `Info.plist`. Probably @fffw could add this to the documentation?

[2016-06-13 13:31] fffw commented on #8
Cool, I'll do! Thanks @liudanking and @xor-gate for the findings. They definitely help!

[2016-06-13 14:48] xor-gate commented on #8
@fffw no problem, I will send the bill later :+)

[2016-08-03 16:01] emersion commented on #3
Same problem here, trying to load a 32bit dll in a 64bit program. Any plans to include a builtin 64bit dll depending on the build arch? I can make a PR.

[2016-08-03 18:27] thomasf commented on #10
https://github.com/tpoechtrager/osxcross can build it

[2016-08-11 17:54] games647 opened #13 "Dynamic icon support"
Is it possible to make a dynamic tray icon which will be painted during runtime?

[2016-08-11 18:12] slaveriq commented on #13
You can change the tray icon at runtime.
[Example/main.go](https://github.com/getlantern/systray/blob/master/example/main.go#L28)

I have in one of my projects used it to indicate and error like so:
[code]
The icon package then ofc needs to have an icon named Error.

[2016-08-12 13:34] ddo opened #14 "question: linux packing"
Can the go binary works standalone? without libappindicator3?
thanks

[2016-08-12 15:15] ddo commented on #3
same

[2016-08-12 15:45] games647 commented on #13
Thanks it worked out. I'm currently using this to draw an image and update it.

[code]

[2016-08-12 15:45] #13 closed

[2016-08-12 16:29] games647 opened #15 "Multiple Icons"
Currently we only have one setIcon method. It could be great if we could make multiple tray icons or is it already possible?

[2016-08-13 08:31] fffw commented on #14
@ddo It depends on libappindicator3 on linux to show the tray icon and menu items. There should be command line tools existing if what you want is a binary rather than go library.

[2016-08-13 14:38] ddo commented on #14
Thanks

[2016-08-13 14:38] #14 closed

[2016-08-15 01:47] fffw commented on #15
@games647 You can just call `setIcon` each time when you want to switch icon.

[2016-08-15 06:20] games647 commented on #15
No I mean to display them at the same time.

[2016-08-27 14:12] luckcolors opened #18 "Clean up dlls after on systray.Quit()"
Hello.
I wanted to ask if it would be possible to delte the dlls in appdata when you run systray.Quit()
i had this code in the systray.Quit function before but it didn't work because for some reason the files were still in use.

[code]

[2016-08-29 20:59] luckcolors commented on #3
I fixed this with this pull request #19.

[2016-08-30 00:04] fffw commented on #3
#19 is merged, thanks @luckcolors . Anyone who wants 64bit dll please have a try.

[2016-09-17 15:39] niels-s opened #20 "Can't build on Mac OS X after upgrading to Xcode 8"
I had written a go program which was using systray just fine until I update xcode to version 8 which comes with a new set of developer tools. Now I can run of build my tool using systray anymore.
Does any one got any tips what I need to debug or how I can fix the issue?

 I got the following stacktrace:

[code]

[2016-09-22 00:09] joesis commented on #20
@niels-s did you run `systray.Run` at the very beginning of `main()`? See https://github.com/getlantern/systray#usage. Or you can call `runtime.LockOSThread()` as the first statement in `main()`.

[2016-09-23 18:30] niels-s commented on #20
Since my local env was busted anyway I've upgraded to macOS Sierra. So I rebuild all my dependencies and installed golang 1.7 which fixed everything again so thanks for the help anyway ;)

[2016-09-27 02:35] joesis commented on #18
Sorry @luckcolors I didn't notice the issue till now. It looks like an untypical requirement. Why do you want to delete it after each run?

Currently `systray` using `syscall.LazyDLL` to load the DLL file, which doesn't have any method to unload it. Per https://github.com/golang/go/wiki/WindowsDLLs, it can be changed to lower level `LoadLibrary` and `FreeLibrary`. PR is welcome.

[2016-10-04 20:13] niels-s opened #21 "Example or info how to run Systray as a service in Windows"
Hi there,

I'm looking around to see if I can find a solution to run my go binary as a service in windows. I've tried a couple things already:

1) I've tried using this go lib to setup a service but unfortunately this won't work nicely together with Systray since we need to start the ui in main: github.com/kardianos/service
2) Another approach I've tried is [NSSM](https://nssm.cc/). While is was a

[2016-10-04 22:42] myleshorton commented on #21
hey @niels-s -- in my experience windows services in general are a bit of a nightmare -- super cumbersome and error prone. If you want something to just run at startup, all you need is a registry setting. That's what lantern does.

[2016-10-07 17:23] niels-s commented on #21
@myleshorton thanks for the info! If I may ask one final question, could you help me a bit and point me in the right direction where I could find the windows installer code for Lantern?

[2016-10-07 17:27] #21 closed

[2016-12-23 18:14] techtonik opened #22 "Run without .dll"
Why .dll is needed? It seems possible to avoid using it or `cgo`.

1. https://github.com/lxn/walk/issues/68 - win GUI toolkit that compiles without `cgo`
2. https://gist.github.com/nathan-osman/18c2e227ad00a223b61c0b3c16d452c3 - WinAPI access from Go
3. https://news.ycombinator.com/item?id=11962359 - thread with links above

[2016-12-25 11:41] joesis commented on #22
@techtonik We have no incentive to make the change as Lantern has been using it for quite a long time, but PR is welcome!

[2017-02-06 11:36] sp-joseluis-ledesma opened #23 "not working in Fedora 25"
In Fedora 25 (Gnome3) the tray icon does not show up. I have installed topicons extension, and other tray icons are shown (slack for example).

I don't know if it is gnome3 or wayland related.

[2017-02-06 12:40] joesis commented on #23
@sp-joseluis-ledesma are you running the example? could you describe the detailed steps? Did you install the [depedencies](https://github.com/getlantern/systray#linux)? Sorry we don't have this specific environment to try.

[2017-02-06 14:07] sp-joseluis-ledesma commented on #23
Yes, I did install the dependencies and the example does not work. It runs but no icon is showed in the systray.

[2017-04-24 06:12] jD91mZM2 opened #24 "Linux warning"
[code]

Still works, so... nothing big. Just letting you know. Probably change it to `return 0` or something ¯\\\_(ツ)\_/¯

[2017-04-24 17:45] LEGOlord208 opened #25 "Warning on running program"
`(yourprogramnamehere:987): Gdk-CRITICAL **: gdk_window_thaw_toplevel_updates: assertion 'window->update_and_descendants_freeze_count > 0' failed`

[2017-05-24 06:08] theGeekPirate commented on #3
Quite a bit late to the party, but I simply used http://github.com/lxn/walk 's systray, which doesn't require any pre-built DLL files.

It's been a pleasure to work with.

[2017-08-11 16:25] scrossan-crown opened #26 "Colour or Icon On Menu Item"
I'm trying to use systray as a monitoring notifier for my local and production databases and wanted to know if it's currently possible to add icons or colour to the menu items?

[2017-08-11 16:26] #26 closed

[2017-08-11 16:27] SC7639 opened #27 "Colour or Icon On Menu Item"
I'm trying to use systray as a monitoring notifier for my local and production databases and wanted to know if it's currently possible to add icons or colour to the menu items?

[2017-09-09 10:43] Litarvan opened #30 "On click tray event ?"
Currently, left-clicking on the tray icon simply opens the menu on Windows, and do nothing on Linux.
Is it possible to trigger sometime on icon left-click ?

[2017-09-30 09:10] let4be commented on #30
Same question...

[2017-11-01 09:17] Biter777 commented on #30
Please, implement the "On click tray event" (WM_RBUTTONUP / WM_LBUTTONUP).
Maybe as OnIconTrayClickHandler()...

Please! :)

[2017-11-01 21:26] myleshorton commented on #30
We aren't able to pull away to implement this right away unfortunately but PRs are most welcome!!!

[2017-11-16 21:20] komyg opened #33 "Right mouse button click"
Hi,

Is it possible to show the menu only if the user click with the right mouse button?

Thanks,
Felipe

[2017-12-10 08:16] vcraescu opened #34 "Error compiling from Linux for Darwin"
[code]
Any idea?

Thanks!

[2018-01-04 09:29] wilon opened #35 "Support to add key event."
Such as:
[code]

[2018-01-11 15:52] hooph00p commented on #30
@myleshorton point me in the right direction and I can tackle this

[2018-01-16 17:31] meskio opened #37 "failing to hide menu items"
I find many situations where hiding a menu item doesn't work. I'm testing it debian (using gtk+ 3.22.26), but I could reproduce the same problem in ubuntu 17.10.

The minimum example I found that doesn't work for me is:
[code]

Weirdly if I remove the 'bar' `AddMenuItem` it works and hides foo.

[2018-01-18 02:27] #24 closed

[2018-01-26 10:13] juliardi opened #38 "Ballon Message from Tray Icon"
Is it possible to show a ballon message from systray?
For example like this :
![screenshot_20180126_171105](https://user-images.githubusercontent.com/4223302/35435120-18445b40-02bc-11e8-8d1e-595777f90742.png)

[2018-02-07 12:20] meskio commented on #38
@juliardi AFAIK not, what I'm doing is to use another library for that:
https://github.com/0xAX/notificator

[2018-02-07 22:08] juliardi commented on #38
@meskio thanks for your answer and reference, I'll try using that library

[2018-02-07 22:08] #38 closed

[2018-03-07 16:41] vith commented on #5
I can confirm at least on linux this problem still occurs and cherrypicking this commit https://github.com/jamalsa/systray/commit/8b51f558e190bddaedd992bdb88c3925ec1e7d7d I found through the github forks list onto fe4b1c6bb216a485a73414ce55047ec7ce3a9766 does fix it for me.

[2018-03-07 16:50] vith commented on #23
I think libappindicator's GtkStatusIcon fallback just doesn't work, I have the same problem with https://github.com/phocean/TopIcons-plus on Fedora or Arch.

This seems to be the upstream bug: https://bugs.launchpad.net/ubuntu/+source/libappindicator/+bug/1086656

The example does work with the appindicator gnome shell extension, however: https://github.com/Ubuntu/gnome-shell-extension-appindicato

[2018-03-15 20:11] phoenix147 commented on #21
Since i came around the same problem, i just wanted to add, that it is technically impossible to show a system tray for processes running as service in windows. You have to write a second indicator application, that runs with user privileges, and somehow communicates with the service.

Mysql for example does this with its Notifier program.

[2018-03-19 09:19] meskio opened #40 "Quit() doesn't exit on linux"
A simple example:
[code]

It hangs for ever and never prints `exiting now`.

[2018-03-20 01:59] #40 closed

[2018-03-20 02:04] #37 closed

[2018-03-20 21:33] meskio commented on #8
I'm a bit confused reading the code it seems that 16x16 is hardcoded as icon size:
https://github.com/getlantern/systray/blob/master/systray_darwin.m#L162

Is that not true? Does the library support other icon sizes for OS X?

[2018-03-21 00:01] joesis commented on #8
The image size is hardcoded by https://github.com/getlantern/systray/commit/e2e5b0ddab46550ba1ea5fff8b4540b804a0113b. @oxtoacart what's the issue the commit intended to solve?

[2018-03-26 10:13] lvisco opened #42 "Icon problem that overloads the disk"
Hello,
have you ever had problems with the dynamically changing icons that fills the temp folder and the disk on windows and linux? thank you for reply.

[2018-04-09 22:48] stoggi opened #45 "Use templated icons for the menu bar in macOS"
Since Yosemite (10.10+), the menubar supports templated images, so that macOS can automatically change the highlight for dark/light themed menu bars.

<img width="190" alt="menubar-light" src="https://user-images.githubusercontent.com/5227285/38526984-aaff28a0-3cac-11e8-8712-45be2d110f0b.png">
<img width="190" alt="menubar-dark" src="https://user-images.githubusercontent.com/5227285/38526985-ab30d

[2018-04-10 00:11] stoggi commented on #45
Note, that this will mean existing macOS systray users with colourful menu bar icons will be converted to monochrome templates as Apple suggest.

Not sure how to keep the API the same for all architectures while still letting the user specify template images.

One thought is perhaps checking the image to see if it's already monochrome, and only in that case make it a template. Depends on how peopl

[2018-04-16 15:40] MichalPodeszwa opened #47 "Possibility to run `systray.Quit()` and not terminate"
Currently, when running `systray.Quit()` the whole process exits. My usecase is that I need this to keep on running after calling `Quit`.

Is this possible right now?

[2018-04-17 04:59] joesis commented on #45
Yeah we have to hold off this as it's quite possible a colorful icon being used across platforms.

[2018-04-19 14:32] flowchartsman commented on #45
I would add a SetTemplateIcon() (or something) call. This could be used in addition to, or in place of the SetIcon() call.
If both are used, the icon made with SetTemplateIcon will be used on OSX and the icon made with SetIcon will be used elsewhere.  If only SetTemplaceIcon() is called, then the dark version of the icon will be used on non-osx systems.

[2018-04-20 10:12] jclc commented on #35
This isn't portable; at least Wayland doesn't support global hotkeys.

[2018-04-26 20:13] tysenmoore-xse opened #48 "Hide Windows Console?"
When running the executable from Windows the Console window is still show.  I see there is a ShowWindow call that should hide the window but it is not doing the trick.  I've tried this in Win10 and Win7.  Is there a simple solution to this problem?  Or is this known and expected?

[2018-04-27 14:34] tysenmoore-xse commented on #48
For those interested you can modify the code in systray/systray.cpp InitInstance() and replace:

`
ShowWindow(hWnd, nCmdShow);
UpdateWindow(hWnd);
`

with

`
FreeConsole();
`

This will open a console very fast and close it.  There may be better solutions, but this is good enough for my use case.

[2018-04-27 14:34] #48 closed

[2018-05-03 13:31] tysenmoore-xse commented on #48
For further reference my previously described solution works when I use `go run main.go` but if you build an application executable it does not work.  To build the Windows version without the console window popping up you need:
`go build -ldflags -Hwindowsgui main.go`
(as described in https://stackoverflow.com/questions/36727740/how-to-hide-console-window-of-a-go-program-on-windows)

[2018-05-29 13:41] kindlychung opened #49 "Nested menu items"
Would be nice to support nested menu items.

[2018-06-04 17:38] treystout opened #50 "Pop-up or Notify?"
Is it possible for a timer or other event to trigger a notification. Looking for something that would bounce the icon, change the icon, or otherwise notify the user something has changed.

[2018-06-14 21:18] hugows commented on #22
Is there any downside to using the provided DLLs instead of building DLLs ourselves?

[2018-06-18 14:35] phoenix147 commented on #42
Just experienced this myself.

I had >100k files in my temp folder.

[2018-07-01 13:59] hugows commented on #50
I changed the library to show a balloon tip on Windows. There might be something similar in your platform.

[2018-07-05 04:31] mickael-kerjean commented on #25
Same here, did you manage to find a solution?

[2018-07-05 06:05] jD91mZM2 commented on #25
Sadly, nope. It's just a warning though so you should be able to ignore it

[2018-07-05 07:51] mickael-kerjean commented on #25
Yes sure but from a end user perspective, trying to run a program that gives warning doesn't inspire confidence, I'll dig a bit more once in the next few weeks and will give some update if I have a solution

[2018-07-09 08:55] joesis commented on #45
Reopening as https://github.com/getlantern/systray/pull/46 is reverted.

Another option would be to add a helper method like `UseTemplateIconOnDarwin`, so if it's called, `SetIcon` always converts the icon to a monochrome template on macOS. How do you think @stoggi @flowchartsman?

[2018-07-19 06:50] mickael-kerjean commented on #34
Same here, did you find a fix?

[2018-07-20 07:27] anjannath opened #52 "Can systray.Run be run as a separate process using exec.Command or syscall.ForkExec"
I want to run the system tray as a stand alone process that does its own thing, but it needs to be run form a different program.
example:
[code]

[2018-07-23 21:42] flowchartsman commented on #45
Personally, I don't like that method name, tbh. IMO, if you're going to maintain the API, another method call like the one I mention above would be the way to go. This would allow you to selectively use different icons on OSX versus others. I would avoid changing the behavior of `SetIcon`, unless templated icons are not optional.  This would force users to comply to avoid their app looking weird.

[2018-07-24 21:04] flowchartsman commented on #45
My PR above adds this method along with example usage and a PDF example icon based on a [free vector image](https://openclipart.org/detail/174693/celtic-sword-silhouette-by-rones)
<img width="126" alt="screen shot 2018-07-24 at 5 03 32 pm" src="https://user-images.githubusercontent.com/926884/43166075-96a93184-8f63-11e8-81aa-7e159b795066.png">
<img width="121" alt="screen shot 2018-07-24 at 5 03 4

[2018-07-27 05:35] anjannath commented on #49
Agree with @kindlychung nested menu items is really essential for a system tray.

[2018-07-27 06:01] anjannath commented on #34
same here, couple of reason for this not working, first we need to enable cgo then we need proper darwin libraries, i haven't been able to find a fix myself, but in https://github.com/getlantern/systray/blob/master/systray_nonwindows.go the comments indicate some cflags and ldflags but that gives another error like the following:

[code]
@oxtoacart Any ideas what is going on here?

[2018-07-27 06:16] joesis commented on #34
@anjannath @mickael-kerjean basically this package is not cross-compilable as it requires OS specific SDK (see systray_darwin.m and systray_linux.c respectively). For example, I don't expect "framework Cocoa" to be available on Linux on Windows. One can cross-compile for Windows on other platforms as it's implemented as a pre-built DLL.

[2018-07-30 09:39] anjannath commented on #49
@joesis How much work is needed to add nested menu item/submenus? if you provide some pointers i am willing to take this task

[2018-07-30 10:02] anjannath commented on #50
@hugows Could you please send a PR with your implementation, Thanks!

[2018-07-30 13:11] joesis commented on #49
@anjannath Frankly I didn't check the details as we don't need this feature, though I don't think there are many hurdles. Three steps IMO:
1. Design the Go API and data structure to be able to nest `MenuItem` (I would make each `MenuItem` to implement an interface which itself has `AddMenuItem`, but there are probably better ways).
1. Implement on one OS to valid the logic and find out any mismatc

[2018-07-31 07:28] anjannath opened #54 "Feature: Need function to remove an MenuItem"
This issue is for implementing `systray.RemoveMenuItem()` to dyanamically remove an existing menu item from the tray.

[2018-07-31 07:46] joesis commented on #54
You can call `menuitem.Hide()`

[2018-08-02 17:38] TaceyWong opened #55 "Hide macOS/OSX Console?"
How to hide macOS/OSX Console?

[2018-08-23 04:07] joesis commented on #45
No I don't think it's a good name either. My point is to treat whether to use template icon as a configuration instead of application logic. One benefit of using the helper method is that the developer can switch to template icon with a single line of code rather than having to add special handling for Darwin everywhere (as the changed example code in the PR demonstrated). An application would hig

[2018-08-28 08:36] theliebeskind opened #57 "Please fork getlantern/stack from latest go-stack to enable debugging with delve"
Currently, trying to debug a project that uses systray fails with "bad access" (see https://github.com/derekparker/delve/issues/975).

This can be fixed by use the latest version of github.com/go-stack/stack (which you forked for getlantern/stack).

I tested it locally by replacing it in getlantern/errors and it worked.

Thanks!

[2018-08-28 10:00] joesis commented on #57
Thanks @theliebeskind! Created https://github.com/getlantern/errors/pull/3 to ditch `getlantern/stack`. Waiting for peer review.

[2018-08-28 23:54] Bios-Marcel commented on #25
Any new information on this?

[2018-08-29 01:36] joesis commented on #25
One cause of this warning: https://git.xfce.org/apps/xfce4-terminal/commit/?id=eff5e2db3dff7e586193e95156da24f2acf33eeb

This package doesn't call the method directly but I guess app-indicator does that.

[2018-08-29 01:44] Bios-Marcel commented on #25
Yeah, I have seen that issue aswel. I checked the code and couldn't find calls either. Anyways, if this is an libappindicator issue, should this issue be closed? If anyone can prove the opposite, the issue could be reopened.

[2018-08-29 01:49] mickael-kerjean commented on #25
Said previously I'd investigate but haven't done much progress and decided to remove the feature instead of getting warning.

[2018-08-29 01:51] Bios-Marcel commented on #25
I am a little confused. What does `the feature` mean in this context?

[2018-08-29 02:27] mickael-kerjean commented on #25
`the feature` in the context of my project relying on this library. This was about having a way for users that aren't friend with the CLI to start a server/stop the server/launch the UI  for [this project](https://github.com/mickael-kerjean/nuage).
At the end of the day, I don't have the manpower, devices and motivation to test this on all possible system and warnings always have this "euh ..." re

[2018-08-29 14:28] #57 closed

[2018-09-15 13:07] java-fullstack opened #58 "How do I compile to output 386 Binary file on amd64 arch Linux（ubuntu14）"
such as your example，
I do this on the command line:
[code]

However，display on command line:
[code]

[2018-09-17 03:27] joesis commented on #58
What if `export CGO_ENABLED=1` @java-fullstack ?

[2018-09-18 16:10] meskio commented on #22
Can this issue be closed now that #44 has being merged?

[2018-09-18 16:10] meskio commented on #3
Can this issue be closed now that #44 has being merged?

[2018-09-18 16:10] meskio commented on #18
Can this issue be closed now that #44 has being merged?

[2018-09-18 16:36] #3 closed

[2018-09-18 18:59] luckcolors commented on #18
Yeah sure. 👍

[2018-09-18 18:59] #18 closed

[2018-09-20 15:31] java-fullstack commented on #58
I'm sorry that I reply to you now
I have tried what you said, but a lot of 32-bit libraries need to be installed. Finally, the 32-bit libraries can't be installed successfully,I give up.
In the end, the solution is that I compile to output 386 Binary file on i386 arch Linux

[2018-09-21 11:55] jefvel opened #60 "Possibility to add/remove item at index"
This functionality would be nice to have, for example if the systray list displays a dynamic list of items that change.

[2018-09-22 01:33] joesis commented on #60
@jefvel For infrequent changes, it can be done by simply hiding/showing/adding items on demand. If the list constantly changes, a benchmark and/or revision of the whole code base may be required.

[2018-10-10 19:30] meskio opened #62 "Detect if there is a system tray"
Since gnome 3.26 there is no tray in gnome. AFAIK, currently an application using this library doesn't get any kind of warning or error, the systray menu will just don't exist but the application will run *normaly*.

It will be nice to have a function on `systray` to check if the tray exists, to be able to display an error manually and recommend installing topicons or something.

[2018-10-18 09:31] kalikaneko commented on #42
https://github.com/getlantern/systray/commit/99cf6a5c182815c5fec856856f897d9c6f1018ab should have fixed this for linux.

[2018-10-18 09:34] kalikaneko opened #67 "windows: Show() is broken for menu items"
I think one side effect of https://github.com/getlantern/systray/pull/44 is that the Hide()/Show() dynamics for menuItems are broken.

This can be tested with the example code: the toggle button works hiding the two items, but then it fails to show them again.

A PR fixing this is following.

[2018-10-20 00:59] #67 closed

[2018-10-22 07:45] FloFuenf commented on #33
file: systray_windows.go
line: 257

just remove `WM_LBUTTONUP`

[2018-10-24 15:09] christianhujer opened #71 "If the system tray could not be created, return an error instead of terminating the process."
When a Go program calls `systray.Run()` in a headless environment, creating the system tray fails.

Expected behavior:
If creating the system tray fails, the call to `systray.Run()` should return an `error`.

Actual behavior:
The call to `systray.Run()` terminates the process if it failed to create the system tray.

This would still be okay, if there would be a call like `systray.IsHeadless()` whi

[2018-10-31 19:14] kalikaneko opened #72 "[windows] if several menu items are hidden, showing them gets the absolute index"
this might be a corner case, but it's actually a case we're using that's buggy on windows:

1. Have several adjacent menu items hidden right from the beginning.
2. when one of them is shown, the position in which the item is aded (being absolute) can be below menu items that were added afterwards.

I'm unsure about what strategy will be better to cope with this. I was thinking about adding a publi

[2018-11-01 02:54] joesis commented on #72
@kalikaneko your example code also demostrated the bug https://github.com/getlantern/systray/pull/70 meant to fix. Maybe need to revisit the whole logic fo positioning on Windows...

[2018-11-12 17:50] pknudsgaard opened #75 "OSX Mojave warnings..."
Upgraded my laptop to Mojave and I am getting the following warnings:

# vendor/github.com/getlantern/systray
systray_darwin.m:67:15: warning: 'setImage:' is deprecated: first deprecated in macOS 10.14 - Use the receiver's button.image instead [-Wdeprecated-declarations]
/System/Library/Frameworks/AppKit.framework/Headers/NSStatusItem.h:85:39: note: property 'image' is declared deprecated here
/Sy

[2018-11-13 02:54] joesis commented on #75
It should have been fixed by https://github.com/getlantern/systray/pull/66. @pknudsgaard did you pull the latest `master`?

[2018-11-13 19:36] LukePulverenti commented on #30
Exposing a double click event would also be nice.

[2018-11-24 12:48] joesis commented on #72
I didn't explore if it's simple enough, but one way to avoid the tricky logic to hide/show menu items would be to use owner draw and skip drawing hidden items. Not sure if it's possible to call the default menu item drawing routine.

[2018-11-25 06:33] #72 closed

[2018-11-30 23:16] bcmertz commented on #23
I was only able to replicate this bug by installing libappindicator without the -dev suffix. Even from clean installation of Ubuntu 18.04 running Gnome3 installing the recommended dependencies `sudo apt install libgtk-3-dev and libappindicator3-dev` appears to work as expected. It appears maybe the non *-dev appindicator packages no longer contain all the appindicator bindings needed to support sy

[2018-11-30 23:16] #23 closed

[2018-12-03 13:45] cryptix opened #77 "Testing and jumpy rendering"
Hi!

First of all thanks for this package! Having this functionality for all three platforms is awesome! Some background: I [adopted](https://github.com/zaaack/systray-portable) and later [forked](https://github.com/ssbc/systrayhelper) a small jsonrpc-like utility that uses this library after it was introduced into one of the dependencies of ssb in the form of a npm module (now [forked-systray](ht

[2019-01-19 11:47] natalieesk commented on #49
Hello, is anyone actively working on this? I'm interested in this feature and would like to try and get it working on a Mac.

[2019-01-19 11:50] anjannath commented on #49
I have a working nested menutimes implement at github.com/anjannath/systray
would love to have your contributions there. Feel free to send a PR

On Sat, Jan 19, 2019, 5:17 PM Natalie Eskinazi <notifications@github.com
wrote:

[2019-01-19 12:07] natalieesk commented on #49
Oh great! Will take a look.

[2019-01-19 12:18] natalieesk opened #79 "Implement checked menu item on Linux"
It says in the README, "Checked menu item not implemented on Linux yet." It would be great to have this feature.

[2019-01-19 15:55] natalieesk commented on #49
@anjannath are you planning on making a pull request to this repo with the new feature or are you taking your fork in a different direction? Just so I can make an informed decision about what repo to use/contribute to. Thanks.

[2019-01-21 05:44] joesis commented on #49
@anjannath @natalieesk please feel free to send PR and we'll look into it ASAP. By saying "we don't need this feature" I meant the Lantern application for which this repo was created didn't use it, but we are definitely happy to see it evolving based on community requirements and contributions!

[2019-01-21 07:39] anjannath commented on #49
@natalieesk Please send your PR here. I am currently unable to commit the time required to put it together.

[2019-01-29 08:00] liminalitythree opened #80 "Doesn't work with go modules"
I imported systray into a blank application using go 1.11 modules.

I get the error
[code]

I'm not sure if this is an issue with systray or with go modules. I found a few of these issues that were caused by go modules bugs but they were all fixed.

[2019-01-30 01:48] #55 closed

[2019-02-27 03:50] chengziqing opened #83 "cannot build,at macOS 10.14"
NSOffState is Obsolete

[2019-02-27 05:27] joesis commented on #83
@chengziqing The latest master doesn't use `NSOffState`.

[2019-02-27 08:28] chengziqing commented on #83
@joesis The latest master "systray_darwin.m"，Still in use NSOffState。You can have a look at the file.
At macOS 10.13 can build.

[2019-02-27 09:20] joesis commented on #83
@chengziqing do you mean https://github.com/getlantern/systray/blob/master/systray_darwin.m#L5? It's for compatibility. I can build on 10.14.3 without issue. Can you post the toolchain versions and full error message?

[2019-02-27 09:34] chengziqing commented on #83
@joesis
cd getlantern/systray/example
go build

systray_darwin.m:128:22: warning: 'NSOnState' is deprecated: first deprecated in macOS 10.14 [-Wdeprecated-declarations]
systray_darwin.m:9:33: note: expanded from macro 'NSControlStateValueOn'
/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk/System/Library/Frameworks/AppKit.framework/Headers/NSCell.

[2019-02-27 15:12] joesis commented on #83
@chengziqing No the warning is not the cause of the installation problem, as long as the binary can run there.

[2019-02-27 15:12] #83 closed

[2019-02-27 21:38] benpye commented on #80
@liminalitythree Did you manage to find a way to get this working?

[2019-03-16 10:10] adeptoleg opened #84 "systray.SetTitle("Awesome App") doesn't work"
Doesn't show text "Awesome App". OS WIN10 x64
[code]

[2019-03-16 22:58] joesis commented on #84
@adeptoleg from what you posted, it looks like a problem of the toolchain. Did you try build from the official Go Windows compiler?

[2019-03-18 06:00] adeptoleg commented on #84
@joesis Yes. I'm trying a build from the official Go Windows compiler v1.12

[2019-03-18 06:30] joesis commented on #84
@adeptoleg hmm we never encountered this. What's this `JetBrains\GoLand 2018.3.5` thing? Does your setup work well for other Go code, like a simple Hello world? If you saw the error from IDE, I'd suggest you to try building from command line first. IDE is not always your friend.

[2019-03-18 07:18] adeptoleg commented on #84
@joesis I tried to build the same result from the command line. Other projects compile normally. Without text, it also works

[2019-03-18 09:25] joesis commented on #84
@adeptoleg can you post more details you think may be useful, like the command history and the output? We may not be able to help you by any means without sufficient information.

[2019-03-23 11:34] Pusnow opened #85 "Font weight/size"
Is there any way to change MenuItem's font size for weight? I think it is needed.

[2019-03-24 07:17] joesis commented on #85
From design perspective, as part of the system bar, the style of the systray should better use the system defaults, which can be adjust by the user.

[2019-03-28 10:54] juja256 opened #86 "Systray application panics on linux after screen lock"
Hello, I have got some issue with my server-like application built with systray package. The application often hangs with SEGFAULT after ubuntu does screen lock.
Ubuntu: 18.10 amd64, default Gnome desktop
Golang: 1.10

Here is a piece of panic message:

Maybe I have got some issues with my GTK environment or something else, but if this is a real issue affecting many users it should be fixed.

[2019-05-13 14:20] caicry opened #87 "Deepin Linux兼容性问题"
Deepin系统可以弹窗，item内容无法显示出来，事件无法正常响应

[2019-05-24 23:28] raunaqrox commented on #80
It is working for me with go modules, did you do `export GO111MODULE=on` ?

[2019-05-25 08:04] raunaqrox commented on #75
I'm getting the following warnings

[code]

[2019-05-26 20:46] icaropires opened #89 "Icon size"
Hi, I tried to use a .ico with size of 64x64 and it worked on windows but not on Linux (tried Ubuntu 16.04 and Manjaro with Deepin DDE). But changing icon size to 32x32 worked at all environments!

I guess it would worth add this information to README :smiley:

[2019-06-02 08:48] artheus commented on #75
I am getting the same warnings as @raunaqrox.
In addition to this, my app will panic whenever I use `systray.Run(onReady, onExit)`, this is the panic error message:
[code]

[2019-06-15 18:02] NightMan-1 opened #90 "Main thread"
Hi!

I want run systray in separate thread, something like this:
[code]
 All run as expected on Windows, but crash on MacOS:

[code]

Can you help?

[2019-06-15 22:11] joesis commented on #90
Please check https://github.com/getlantern/systray/#usage. `Run()` should be invoked at the very beginning of `main()`.

The error message also echoed that:
[code]

[2019-06-15 22:11] #90 closed

[2019-06-17 09:37] subsr97 commented on #86
I can't reproduce this issue with the [example program](https://github.com/getlantern/systray/blob/master/example/main.go) on Ubuntu 18.04 amd64 go 1.12.

Can you reproduce this issue with the example program?

[2019-06-17 09:49] subsr97 commented on #58
@joesis I get this error when CGO is enabled:

[code]

[2019-06-17 10:00] subsr97 commented on #50
If you're on Linux, give `notify-send` a try.

[2019-06-17 13:03] joesis commented on #58
I don't have experience on it but you may need some C compiler flags to target 32 bit on 64 bit CPU. I don't even know if it's possible. Sorry.

[code]

[2019-06-18 00:23] raunaqrox commented on #75
@artheus Could you show your code, I had similar issue but that was due to me using nil values when onReady was not done. For reference I'm using systray here github.com/promignis/cwitch.

[2019-06-18 15:10] scottgrobinson commented on #75
@artheus I had the same issue which was resolved by adding
`runtime.LockOSThread()`

as pe https://github.com/getlantern/systray/issues/20

[2019-06-19 10:25] mikeschinkel commented on #75
We are getting the same issues as @raunaqrox where `'NSOnState' is deprecated:`

[2019-06-26 01:18] mikeschinkel commented on #75
I *may* have solved this with the following wrapper code to replace lines `4`-`10` of `systray_darwin.m`.

[code]

I will be submit a pull request with this code.

[2019-06-26 06:45] #75 closed

[2019-07-06 17:20] gocs commented on #26
#27 Duplicate

[2019-07-22 16:49] i6du opened #93 "go 1.13 : build command-line-arguments: cannot load bufio: malformed module path "bufio": missing dot in first path element"
go version go1.13beta1 darwin/amd64

go: finding github.com/getlantern/systray latest
go: finding github.com/skratchdot/open-golang latest
go: finding github.com/getlantern/golog latest
go: finding github.com/getlantern/ops latest
go: finding github.com/getlantern/errors latest
go: finding github.com/getlantern/hidden latest
go: finding github.com/oxtoacart/bpool latest
go: finding github.com/getl

[2019-07-22 22:41] joesis commented on #93
@i6du are you sure you are ticketing on the correct repo?

[2019-07-27 02:44] antwal opened #95 "cannot build at macOS 10.12"
Build error:

# github.com/getlantern/systray
systray_darwin.m:132:22: error: use of undeclared identifier 'NSControlStateValueOn'
systray_darwin.m:134:22: error: use of undeclared identifier 'NSControlStateValueOff'

pls fix retro compatibility

[2019-07-27 06:00] #93 closed

[2019-07-27 06:06] joesis commented on #95
https://github.com/getlantern/systray/pull/94 (thank @teddywing !) should have fixed it. @antwal could you try get the latest master?

[2019-07-27 11:45] antwal commented on #95
I'm testing, I'll answer you on the PR

[2019-07-27 11:45] #95 closed

[2019-08-04 14:47] Arshiamidos commented on #49
hi every one
it has bad architect and only main menu focused to dynamic adding menu/submenu.
no more check about NSMenu and NSMenuItem ?!
because change is massive about to code , i created new repo to handle that .
you can add changes to your repo . but its only for macos :(
![1](https://user-images.githubusercontent.com/6451804/62425097-6c7a4400-b6ec-11e9-9532-041920278c33.gif)

[2019-08-08 15:27] ergoz commented on #84
SetTitle not works on Windows. You can check source file systray_windows.go:L644 and find this:

[code]

[2019-08-20 18:38] homaxweb commented on #84
Hi, is there a problem to implement this function?

[2019-08-23 13:40] coco101000000000 opened #96 "widow shadow"
How to make window shadow effect?

[2019-10-23 15:31] tristan-cartledge-sd commented on #49
would really love to see this feature, would make this a lot more usable for more complex apps

[2019-11-17 04:15] XDCODING opened #100 "推荐一个新的梯子"
蓝灯最近一直连不上，试了试这个还可以，随手分享。
https://antss.orxs.me/aff/Gt5u

[2019-11-17 07:13] #100 closed

[2019-11-19 08:26] PonyTang3 opened #101 "the example program doesn't work properly"
I build the example program by using 'go build'. When I clicked the changeme menu, it would quit. When I clicked the ignore menu, it had panic error. I didn't  know what the problem is. What had I miss?
![QQ图片20191119161520](https://user-images.githubusercontent.com/16270359/69129323-15f11400-0ae9-11ea-806f-4e57475ebe27.png)

[2019-11-19 15:10] PonyTang3 commented on #101
[code]
When I build like that, it didn't show panic error any more. But the menus were disappeared after I click one menu.

[2019-11-19 16:55] oxtoacart commented on #101
Does it exit when you click any menu item, or just some of them?

[2019-11-19 16:57] PonyTang3 commented on #101
some, the changeme menu

[2019-11-20 03:48] joesis commented on #101
Which version of Go you were using @PonyTang3 ?

[2019-11-20 03:51] PonyTang3 commented on #101
1.13
And I had try 1.12. The problem remains the same @joesis

[2019-11-20 06:56] joesis commented on #101
Thanks @PonyTang3 what if you `git checkout baeca33b8639173043ac745aba9800cfbafb9cd1` and try again?

[2019-11-20 06:56] ldstein commented on #101
For what its worth, I'm experiencing the deadlock as @PonyTang3.

I added a hack to `addOrUpdateMenuItem(item *MenuItem)` which solved the issue:

[code]

[2019-11-20 07:11] PonyTang3 commented on #101
After that, it was the same.

[2019-11-20 07:12] PonyTang3 commented on #101
After that, it was the same. @joesis

[2019-11-20 07:21] PonyTang3 commented on #101
After I checkout `baeca33b8639173043ac745aba9800cfbafb9cd1` for `$GOPATH/src/github.com/getlantern/systray`, it works. @joesis

[2019-11-20 07:29] joesis commented on #101
Cool thanks @PonyTang3 ! So it looks like a regression by https://github.com/getlantern/systray/pull/97

[2019-11-20 07:47] PonyTang3 commented on #101
It had no deadlock error after that, but it would still quit when I clicked changeme button. @ldstein

[2019-11-20 08:02] ldstein commented on #101
Oh right - that's another issue I had to work around. Adding `systray.AddSeparator()` as the first item puts the clicks handlers back in the correct order:

[code]

[2019-11-20 08:05] PonyTang3 commented on #101
It se

Without #97, I can build by `go build -tags walk_use_cgo`.

[2019-11-20 14:19] oxtoacart commented on #101
Thanks @ldstein, I've merged your fix.

@PonyTang3 does it work correctly for you now?

[2019-11-20 16:39] PonyTang3 commented on #101
It works now. But I can't build the program by using `go build -tags walk_use_cgo`

[2019-11-20 16:39] #101 closed

[2019-11-20 18:45] oxtoacart commented on #101
@PonyTang3 What happens if you try

`CGO_ENABLED=1 go build -tags walk_use_cgo`

?

[2019-11-21 01:30] PonyTang3 commented on #101
`CGO_ENABLED=1` is my default env.  @oxtoacart

[code]

![image](https://user-images.githubusercontent.com/16270359/69292545-5f547700-0c41-11ea-8d93-8810fd38c1cf.png)

[2019-11-21 10:23] ldstein opened #106 "[Help] Compile errors in Ubuntu"
Hi,

Let me preface this with I'm not a regular Linux user. I'm attempting to build a Linux binary from the systray example. OS is Ubuntu-18.04.3 Desktop, AMD64 running in Virtual Box 6.

 What I have done:

Installed Go then installed the dependencies as mentioned in readme.md:
`sudo apt-get install libgtk-3-dev libappindicator3-dev`

I also installed another dependency not mentioned in readme.md

[2019-11-21 11:40] oxtoacart commented on #106
Oddly if I run `go build main.go` it works. So I think `go build` must be trying to compile something else that's in that folder ...

[2019-11-21 14:29] oxtoacart commented on #101
@PonyTang3 For some strange reason, `go build` looks like it might be trying to build something it shouldn't be. If I build `main.go` instead, it works for me:

`CGO_ENABLED=1 go build -tags walk_use_cgo main.go`

[2019-11-22 01:22] ldstein commented on #106
@oxtoacart Adding `main.go` did the trick, thanks for pointing that out!

[2019-11-22 01:22] #106 closed

[2019-11-24 09:53] lietu opened #107 "`go get` fails on go1.13.4 windows/amd64"
[code]

[2019-11-24 10:02] lietu commented on #107
Whoops nevermind, I'm just an idiot with weird `GOOS` and `GOARCH` environment variables active 😄

[2019-11-24 10:02] #107 closed

[2019-12-04 23:39] MickMake opened #109 "OSX keyboard event input."
When running on OSX, it turns out that keyboard events don't get sent to systray when running as `systray.RunWithAppWindow`.

To fix this, add the following at the start of configureAppWindow() in systray_browser_darwin.m

[code]

[2019-12-16 07:46] nntaoli opened #113 "onExit func non-execution?"

[2019-12-16 07:55] #113 closed

[2019-12-25 10:01] vizzyolog opened #116 "hanging app when item clicking"
this does not happen every time, but more often when in parallel goroutine are heavy processes. Can anyone encountered the same problem?
The error can occur when you click on an item that does not cause anything only
`
case <-itemJustItem.ClickedCh:
				fmt.Println("JustItemClicked")
`

When start with debugger I see -
`
func gopark(unlockf func(*g, unsafe.Pointer) bool, lock unsafe.Pointer, reaso

[2019-12-25 11:49] joesis commented on #116
Did you call `systray.Run` at the very beginning of `main`, as the README suggests?

[2019-12-25 15:37] vizzyolog commented on #116
Yes I do.  It in very very beginning )
I solved my problem by limiting the number of SetTitle() in time. Now it doesn't hang.

Thank you for package it is very useful for me.

[2019-12-25 15:38] #116 closed

[2019-12-26 10:46] Gelembjuk opened #117 "Systray + gotk3"
Hello All,
I am building the crossplatform app with windows GUI. I used https://github.com/gotk3/gotk3 and it works fine to make the interface.
Also i need systray icon for my app.

I tried this package getlantern/systray and it works fine, on test app.
But when i try to build all this together getlantern/systray + gotk3 i do not have success.

When systray runs and i try to start some gtk window

[2019-12-26 11:38] joesis commented on #117
If you already use gotk3, why not use what it provides? https://github.com/gotk3/gotk3-examples/blob/master/gtk-examples/statusicon/main.go

[2019-12-26 12:43] Gelembjuk commented on #117
Thanks for your catch. I really was not able to find it.
It would be good to have it everything inside GTK.
But it seems this solution doesn't work anymore.

I have just tried . That code can not be compiled

[code]

It looks like that functionality was removed from GTK or Golang GTK support.

So, i am still at same point i was before

[2020-01-02 13:42] oxtoacart commented on #117
It's a bit tricky, because systray actually initializes gtk itself and manages the gtk main loop. I assume that gotk3 wants to do the same thing, so coordinating the two will require some thought and potentially changes to systray.

[2020-01-07 15:47] #109 closed

[2020-01-08 19:14] oxtoacart commented on #45
@flowchartsman @stoggi @joesis I created a new PR based on the work from @flowchartsman but with a slightly different API. The `SetTemplateIcon` method takes a template icon and a regular icon so that it works on all platforms, using the template icon on macOS and falling back to the regular icon for other platforms.

[2020-01-09 12:44] oxtoacart commented on #45
Fix is merged

[2020-01-09 12:44] #45 closed

[2020-01-11 19:01] myleshorton commented on #45
Nice @oxtoacart!!

[2020-01-15 01:01] atavism opened #120 "Standalone window doesn't respond to copy and paste keyboard shortcuts"
When running systray with the standalone window open (using systray.RunWithAppWindow) on OS X, it looks like copy and paste keypress events aren't being recognized

[2020-01-31 19:44] entonio opened #121 "Callback for when the systray is opened"
When I open the systray, I'd like to update some information that I display on one of its items. Currently, if I want to have the item up to date, I have to user a ticker and poll a server for status; it would be ideal if I could just query the server when needed, that is, when the tray is opened. I understand that the item would first show with outdated info, but for me it would be enough if it e

[2020-02-13 23:43] entonio opened #122 "Info.plist suggestion"
Please add the following to the readme:

On macOs, when running as an app bundle, you may want to add the following to your Info.plist:

		<key>NSHighResolutionCapable</key>
		<string>True</string>

		<key>LSUIElement</key>
		<string>1</string>

[2020-02-16 10:27] botsphp opened #123 "how to receive multiple item notice"
[code]

[2020-02-16 15:37] seannowotny opened #124 "Systray application fails on Windows "panic: Unable to create main window: TTM_ADDTOOL failed""
Running

[code]

on Windows 10 64bit using go1.13.8 fails on following code

[code]

Log:

[code]

[2020-02-19 09:53] MyHtime opened #125 "为什么节点只能连上GB"
？？？？这个软件没有售后？？

[2020-02-21 15:01] gggso opened #126 "Does not support displaying gif images"
webview 不支持giif图片吗？ 黑人问号脸。

[2020-02-21 16:04] gggso commented on #126
webp....

[2020-02-21 16:04] #126 closed

[2020-02-23 18:32] Asp3ctus commented on #124
try bat script

go clean
set GOOS=windows
go build -ldflags -H=windowsgui

[2020-02-24 20:39] oxtoacart commented on #122
Done, thanks @entonio !

[2020-02-24 20:39] #122 closed

[2020-03-01 19:36] netras opened #127 "Systray requires admin-rights on Windows when installed in program files"
With the current version of systray, I cannot run my installed application on Windows without administrative permissions. Reason: Systray attempts to store the icon file inside the application directory.

Looking through commits for systray, it appears that previously the temp directory was used to store icon files. This worked because it does not require elevated permissions in Windows.

If it is

[2020-03-01 22:30] netras commented on #127
I played around a bit and found that I can provide icon paths to `notifyIcon` directly without having to write these files to disk first.

I have added this function to `systray_windows.go`

This worked well in my test cases even with animations (switching icons every 250 ms). And because I provide icon files with my installation routine, no elevated permissions are required when executing the app

[2020-03-09 19:11] max-b opened #128 "Should API functions return errors?"
The `SetIcon` function calls `fail` if there is an issue with the underlying `walk` call:

https://github.com/getlantern/systray/blob/0de639be684dd2b1e3af97b98d98181611c81f7c/systray_windows.go#L79
https://github.com/getlantern/systray/blob/0de639be684dd2b1e3af97b98d98181611c81f7c/systray_windows.go#L84-L96
https://github.com/getlantern/systray/blob/0de639be684dd2b1e3af97b98d98181611c81f7c/systray

[2020-03-11 11:55] Kimbsen commented on #127
You can also set a custom path to store the icon file by importing "github.com/lxn/walk" and calling
```walk.Resources.SetRootDirPath()``` before calling ```systray.SetIcon()```

This avoids the permission issue when running from programfiles or any other restricted location.

[2020-03-11 19:32] netras commented on #127
That should definitely work and would solve my issue. Thank you for the suggestion.

The only downside is that it feels a bit wasteful to store icons hardcoded as byte slices, writing them to disk during execution, then reading them back to memory to then apply them to the tray (and cleaning the files afterwards).

If I can provide the files on disk to begin with, I remove a few steps and do not n

[2020-03-13 22:01] max-b commented on #127
@netras will this work for you? https://github.com/getlantern/systray/pull/129

It's a little unclear to me whether/how plausible it would be to write byte slices directly to the underlying `walk` framework, but if you want to take a look, that would be an interesting option.

[2020-03-13 22:42] netras commented on #127
I´ve just tested the change and it works again properly on Windows. Thank you for providing a solution.

I think you misunderstood my suggestion.
`systray.SetIcon` takes an icon as byte slices and, if not already there (e. g. cache miss), writes it to disk so that it can be read from disk again by `walk.Resources.Icon`.

My suggestion was not to write byte slices to `walk` but to add an `SetIconFr

[2020-03-18 23:08] alankm opened #133 "Deadlock on Mac"
I'm able to pretty reliably trigger a deadlock on Mac using this library. My code is attempting to update the titles of menu items dynamically, but this doesn't play nice with a user clicking on a menu item.

I've dumped stacktraces of all goroutines using `pprof.Lookup("goroutine").WriteTo(os.Stdout, 1)`. Here's some important excerpts from the output:

[code]

There are other goroutines, but I d

[2020-03-23 21:23] oxtoacart commented on #120
@atavism Sorry, I lost track of this one. Are we still using standalone windows? If so, I'll get on this this week.

[2020-03-24 03:58] d1y opened #134 "windows run example is error"
[code]

[2020-03-24 21:20] #134 closed

[2020-03-24 21:20] oxtoacart commented on #134
You need to build a little differently, I've updated the README.

[2020-03-27 11:16] freeasbird commented on #120
i found the same issue on Windows and macOS. You can't use copy and paste keyboard shortcuts

[2020-04-02 14:33] freeasbird opened #135 "on macOS call SetTemplateIcon will cause memory leak"
I want to change the icon on notifications area, I found that each calling method "SetTemplateIcon" will  increase memory.

[2020-04-04 23:59] vgalaktionov commented on #120
At least on the Mac side, this appears to be the problem: https://stackoverflow.com/questions/970707/cocoa-keyboard-shortcuts-in-dialog-without-an-edit-menu.

It seems subclassing NSApplication and adding an event handler for the keypresses as the top answer suggests should do the trick. A hidden edit menu could work as well based on old blog posts referenced there.

[2020-04-11 12:02] Gemorroj commented on #134
#124
idk, didn't work for me

[2020-04-16 10:28] nojus297 opened #136 "Proposed API"
Hello.
While your `systray` seems to be the most feature rich go tray library out there, I still find it's API inconsistent and not so trivial to use. Therefore I tried to design a solid API (that I would at least like myself).
I know that this means a complete rewrite of the core code and broken backwards compatibility. Therefore I wanted to ask whether you would agree on this or you would rather

[2020-04-26 04:58] hick opened #138 "the webview in systray.ShowAppWindow is not the default ie version in windows?"
![image](https://user-images.githubusercontent.com/38886/80298294-543bdf00-87bd-11ea-83b3-e4d9a05b477d.png)

MSIE7  means it is MS internet explorer 7 , AKA IE7 ?    my windows is windows 7 and the default IE version is 11,    many js lib is not compatible  with this version.   any way to change it to the default systerm IE version?

![image](https://user-images.githubusercontent.com/38886/8029830

[2020-04-26 11:20] andriyor opened #139 "Ubuntu gtk undefined reference"
I just follow 'Platform notes' and get this error
can you help me with that

[code]

[2020-05-09 14:41] fcying commented on #139
I have the same error with last version.
with version `f2fa635d047` it work fine

[2020-05-11 15:07] haroflow opened #141 "Required library libxapp-dev"
I'm on Linux Mint 19.3, kernel 5.3.0-51-generic, and following the guide I coudn't get the library to work, even after installing the dependencies. I was getting this error:
[code]

After installing libxapp-dev everything worked.
[code]

Thank you!

[2020-05-12 02:21] joesis commented on #141
Interesting so installing `appindicator3-0.1` doesn't install `xapp` which is one of its dependencies?

[2020-05-12 03:46] rajkumarks7 opened #142 "icon"
you wrote a example but i am unable to change the icon of the example how can i do that? in linux ubuntu

[2020-05-12 15:25] haroflow commented on #141
I'm not sure... But I had problems with systray with electron-js as well...

I think it's some Mint+Cinnamon+appindicator craziness. There's even a configuration to "enable support of indicator icons on notification area" which seems to change something, just don't know what.
![image](https://user-images.githubusercontent.com/4776931/81711623-3a9bc800-944a-11ea-8d07-ce8ec39e9f36.png)

Here's the p

[2020-05-13 01:56] joesis commented on #141
Thanks @haroflow ! I don't have much experience on such stuff but as you noticed it I think adding another requirement in README would be good enough.

[2020-05-13 02:06] joesis commented on #142
Check the `example/icon` directory

[2020-05-13 02:06] #142 closed

[2020-05-13 02:37] rajkumarks7 commented on #142
when i try to replace the icon it is not working. i am unable to understand the files present in it like iconwin.ico all those in which data is saved. i tryed by replacing the icons with my own icons in it. it is not working.

[2020-05-13 02:39] rajkumarks7 commented on #142
can you give a example of it is not working when i replace it with my own icon in the above directory.

[2020-05-13 03:10] joesis commented on #142
Did you see the `makeicon.sh` and `makeicon.bat`? They are scripts on corresponding platforms to generate go files to be included in the example.

[2020-05-13 03:14] rajkumarks7 commented on #142
ok i saw them but i did not understand what are those files i did a thing like run your example code and
did a thing like i changed the icons in the examples with my own icons but it is not working.

[2020-05-13 03:16] joesis commented on #142
Change the icon file and run the script to change the go file, then you should be able see the changes. By checking carefully the `main.go` you should be able to see where the `iconData` comes from.

[2020-05-13 03:19] rajkumarks7 commented on #142
yes sir i changed the icon i replaced both the icon.png file and iconwin.ico file but it is not showing any icon but it worked perfectly with your icon sir.

[2020-05-16 08:40] joesis commented on #141
@haroflow can you post the result of the following command from your machine?

[code]

[2020-05-16 17:20] haroflow commented on #141
Sure!

[code]

libappindicator3-1 seems to depend on libxapp1, though...
[code]

[2020-05-16 18:20] haroflow commented on #141
Just tested on a fresh Mint install (http://mirrors.evowise.com/linuxmint/stable/19.3/linuxmint-19.3-cinnamon-64bit.iso)...

- Cloned the repo
- Installed dependencies `sudo apt-get install libgtk-3-dev libappindicator3-dev libwebkit2gtk-4.0-dev`
- Ran the example and it showed me the same problem...
- Tried installing appindicator3-0.1,  libxapp1 again, didn't work...
- Installed libxapp-dev and

[2020-05-17 00:44] joesis commented on #141
Thanks for the find and help on reproducing @haroflow . Will mention the requirement of `libxapp-dev` on Mint in README.

[2020-05-18 00:23] joesis commented on #141
47979e9a

[2020-05-18 00:23] #141 closed

[2020-05-18 00:31] joesis commented on #133
Nice find @alankm !

[2020-05-18 00:54] #133 closed

[2020-05-18 00:59] joesis commented on #139
Since version `1.0.0` systray no longer depends on webkit stuff unless you try `webview_example` deliberately.

[2020-05-18 01:09] joesis commented on #138
Unfortunately since 1.0.0 systray dropped support for webview, but it does have a `webview_example` to show how it can work together with webview tools. The example uses `lxn/walk` on Windows. You may need to check the `lxn/walk` project for details.

[2020-05-18 01:09] #138 closed

[2020-05-18 01:10] joesis commented on #135
Which version or commit were you spotting the memory leak? Can you try again with version 1.0.1?

[2020-05-18 01:12] joesis commented on #124
No longer relevant as the example doesn't use `lxn/walk` any more.

[2020-05-18 01:12] #124 closed

[2020-05-18 01:27] joesis commented on #136
This looks comprehensive but I'd rather prefer keeping the API minimum. For example, is there a need to create more than one `Tray`? Is it necessary to dynamically adjusting the order of menu items? I'd like to see requirements popping up from the field before adding any of them.

[2020-05-18 06:28] nojus297 commented on #136
The main reason for me is the ability to pass the Tray object around.
But I see your point, so I close this issue.

[2020-05-18 06:28] #136 closed

[2020-05-18 07:04] #125 closed

[2020-05-19 23:20] flowchartsman commented on #45
Finally coming back to this. Great to see!

[2020-05-24 17:39] hick opened #146 "systray.SetIcon error Unable to set icon: This operation returned because the timeout period expired."
it's hard to understand this error infomation for me, in Windows 7

[code]

![image](https://user-images.githubusercontent.com/38886/82760785-9130db00-9e28-11ea-90de-44f32287e14b.png)

[2020-05-25 09:32] hick commented on #146
In addition, the code is just from the github by "git clone"

[2020-05-28 21:17] mangalaman93 opened #148 "not working on windows"
[code]

[2020-05-29 07:56] CsterKuroi commented on #148
The same issue

[2020-05-29 18:51] dgallion1 opened #149 "Not always working on windows"
Windows
This version works in all cases: v0.0.0-20190727060347-6f0e5a3c556c
Newer versions work on my dev machine but not always on other machines.
No errors, icon appears in systray
No menu is shown when clicking.
Event viewer:
Microsoft-Windows-DistributedCOM     EventID 10016

That seems to be associated with my application launch.

[2020-05-30 00:38] hick commented on #149
yes, I got icon in systray bug no menu also,  bu just on windows 10 , and it seems like  it's ok on windows 7

[2020-06-01 02:48] CsterKuroi commented on #149
It's related to #148

[2020-06-02 13:53] xiaozhuai opened #150 "support remove menu item and add separator in submenu"
1. Can't add separator in submenu
2. Can't remove a exists menu item, not just hide

[2020-06-03 03:05] jimluo commented on #148
![image](https://user-images.githubusercontent.com/73940/83591208-010e3680-a58a-11ea-8c77-54ddcc0d5627.png)
same error,but work.

[2020-06-04 07:48] rajkumarks7 opened #151 "error with varaible name Data"
#39
var Data []byte = []byte
github.com/workahub/icons1
icons1/iconwin.go:5:5: Data redeclared in this block
	previous declaration at icons1/iconunix.go:6:5

[2020-06-06 10:56] #139 closed

[2020-06-08 22:37] konsumer opened #152 "Help with ClickedCh in a loop"
Forgive me, if this is basic go stuff, I am new.

I am trying to make a menu from a loop over JSON definition.

[code]

The idea with "tray" is that it's a list of items with title, tooltip, and a URL.

I can parse the JSON ok, with this def:

[code]

When I try to loop over the menu, I can build it fine, but if I try to make a click-handler, it fails when I select something:

[code]

[code]

[2020-06-08 22:59] konsumer commented on #152
I realized that if I just put a plain `w.Navigate("http://github.com")` in same scope, I had same issue, which led me to the idea that I need to complete the init of `w` (the webview) before the callback. Doing that made it not error, bit it still isn't calling `Navigate` on menu item, and only seems to be calling my callback once:

[code]

[2020-06-10 11:23] rajkumarks7 opened #154 "getting issue with the icon"
ERROR systray: systray_windows.go:795 Unable to set icon: Unspecified error [error=Unable to set icon: %v error_location=github.com/getlantern/systray.SetIcon (systray_windows.go:795) error_op= error_text=Unable to set icon: Unspecified error error_type=errors.Error]
ERROR systray: systray_windows.go:795   at github.com/getlantern/systray.SetIcon (systray_windows.go:795)
ERROR systray: systray_win

[2020-06-11 05:06] rajkumarks7 commented on #154
the program is running without any problem sometimes and sometimes i am getting error after building the program

[2020-06-12 10:37] jwfergus commented on #148
The system call here is returning 0 (error).
https://github.com/getlantern/systray/blob/01dc414284987aa070498fafbcdac794657bf2e1/systray_windows.go#L135

[2020-06-16 02:58] psidex commented on #154
Looks like it's the same issue as #148

[2020-06-16 09:25] rajkumarks7 opened #155 "issue while i am calling the systray in mac version"
2020-06-16 14:40:02.329 awesomeProject[16053:375576] *** Assertion failure in +[NSUndoManager _endTopLevelGroupings], /AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/Foundation/Foundation-1676.105/Foundation/Misc.subproj/NSUndoManager.m:363
2020-06-16 14:40:02.330 awesomeProject[16053:375576] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '+

[2020-06-16 09:27] rajkumarks7 opened #156 "getting this error while running my program in mac"

[2020-06-16 09:27] #156 closed

[2020-06-18 13:58] rajkumarks7 commented on #20
i am getting the above error when i have used runtime.LockOSThread() as the first statement it is still not working facing the same issue

[2020-06-18 14:27] rajkumarks7 commented on #20
it is not working when i am using the runtime.LockOSThread() in the first line of main() in the macoS Catalina version 10.15.5 with go version 1.14.4 with xcode 11.1 version can you please help me out with this one?

[2020-06-18 14:52] joesis commented on #20
@rajkumarks7 with the current code you no longer need to call `runtime.LockOSThread()` by yourself. What's the error you are seeing?

[2020-06-18 15:24] rajkumarks7 commented on #155
fyne.io/fyne/internal/driver/glfw.(*gLDriver).runGL(0xc0000dcac0)
	/Users/sushma/go/src/fyne.io/fyne/internal/driver/glfw/loop.go:90 +0x1b0
fyne.io/fyne/internal/driver/glfw.(*gLDriver).Run(0xc0000dcac0)
	/Users/sushma/go/src/fyne.io/fyne/internal/driver/glfw/driver.go:71 +0x37
fyne.io/fyne/internal/driver/glfw.(*window).ShowAndRun(0xc0002749c0)
	/Users/sushma/go/src/fyne.io/fyne/internal/driver/g

[2020-06-18 15:27] rajkumarks7 commented on #20
2020-06-18 20:49:02.823 workahub[2169:88946] *** Assertion failure in +[NSUndoManager _endTopLevelGroupings], /AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/Foundation/Foundation-1676.105/Foundation/Misc.subproj/NSUndoManager.m:363
2020-06-18 20:49:02.825 workahub[2169:88946] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '+[NSUndoManager(N

[2020-06-18 15:30] rajkumarks7 commented on #20
the systray was working fine in both the windows and linux with my code but getting the above error when i was running the program in the macos

[2020-06-20 03:35] rajkumarks7 commented on #20
hey i shared my error here can you help me with this one?

[2020-06-21 02:46] joesis commented on #20
@rajkumarks7

[2020-06-21 02:58] joesis commented on #20
@rajkumarks7 does the example work for you on macOS? Or could you try if https://github.com/getlantern/systray/pull/157 can work in your situation?

[2020-06-21 03:02] rajkumarks7 commented on #20
I need to try it once

[2020-06-21 19:30] psidex commented on #148
ping @joesis

[2020-06-22 07:23] joesis commented on #148
Unfortunately we can not reproduce this issue, nor do we see Lantern users report issues relate to this. By some quick Google search this seems mostly happen on Windows 10, and especially when running inside VM. Did you guys see this in VM or not?

[2020-06-22 07:26] CsterKuroi commented on #148
@joesis Obviously not

[2020-06-22 10:26] jwfergus commented on #148
@joesis - not inside a VM for me. I really suspect something to do w/ submenu code. I forked a stripped down version of similar code w/o submenus, and it's functioning w/o issue.

[2020-06-22 12:13] rajkumarks7 commented on #20
i tried above solution but it is not working.

[2020-06-22 20:06] psidex opened #158 "Windows SetTooltip invalid memory address"
[code]

here is the contents of `main.go`:

[code]

[2020-06-22 21:38] zyvitski commented on #148
I'm having the same issue, on a Windows 10 machine.

Reading the error it appears that an error is being generated for a return value that is not an error.
What would it take to get this fixed? Do you need a way to reproduce it? or is the issue that it is not affecting your business and don't have a reason to? If it is the later, would you be open to a PR for it?

[2020-06-22 22:20] zyvitski commented on #148
I went ahead and implemented a solution. See: #159

[2020-06-23 14:52] zyvitski commented on #148
After some more debugging using the included example on my system. I am also getting a different error. In `winTray.setIcon` the call to `t.nid.modify()` is returning a `syscall.Errno` with a numerical value of `2147500037`

[2020-06-23 14:54] zyvitski commented on #148
And that is the associated error output from that debug session

[2020-06-25 18:55] mattdavis0351 commented on #152
I am running into the same problem.  On first click the menu item behaves as expected.  All subsequent clicks are useless and do nothing.

@konsumer were you able to find a solution to this yet?

[2020-06-25 18:55] zyvitski commented on #148
After some more testing. I have determined that my issue was related to the fact that I was attempting to use a "png" which works on max, but it appears that windows (or your usage of the winapi, I'm unsure which one) only accepts "ico" files.

To anyone who is trying to use a "png" on windows that may be your issue.

Are the image file restrictions listed somewhere in your docs? if not could they

[2020-06-25 19:51] konsumer commented on #152
Nope, I didn't figure it out.

[2020-06-26 10:29] rajkumarks7 commented on #20
i am getting the same error

[2020-06-26 12:58] joesis commented on #148
@zyvitski the godoc of `SetIcon` method mentioned the required formats

[2020-06-30 22:17] safelock commented on #152
If anyone is still having this issue, I have a solution, at least it works for my case.
With regards to this function:
[code]
We need to use select to read the channel without blocking it (or at least to get desired behavior). Modify the above function to be...
[code]

[2020-06-30 22:20] safelock commented on #152
If anyone is still having this issue, I have a solution, at least it works for my case.
With regards to this function:
[code]
We need to use select to read the channel without blocking it (or at least to get desired behavior). Modify the above function to be...
[code]
@konsumer see if this works for you.

[2020-07-05 09:15] ellis2323 opened #161 "w10 works one time"
Hi,

I've build the example. When i run it the first time, it works well. Then I use the quit function and relaunch it again:
I see the latern icon but i can't see menu anymore.
I can kill it with the task manager but it doesn't work again. I need to reboot to play with the example again (A logout is not sufficient)

I try with the webview example and have the same behaviour.

my config: w10 19041

[2020-07-07 16:54] ellis2323 commented on #161
After few search, I tried with success this patch:

 - add a mutex on two operations: https://github.com/getlantern/systray/commit/5de7ae7061bc9513c809fdc82d53a34c857b49a2

It seems to fix my problem. I suspect it will fix the #148 ticket

[2020-07-07 18:44] ellis2323 commented on #148
Not sure, if it helps but it works for me:

 - add a mutex on two operations: https://github.com/getlantern/systray/commit/5de7ae7061bc9513c809fdc82d53a34c857b49a2

[2020-07-08 02:22] CsterKuroi commented on #161
In fact, there have been many related issues before, but have not been fixed.

[2020-07-17 06:27] ldstein commented on #158
FWIW, I'm also experiencing this issue.

I'm observing if I run the compiled exe 6-7 times, ~30% will fail with the same error.

v0.9.0 doesn't appear to be affected. 1.0.0, 1.0.1, 1.0.2 and 1.0.3 exhibit this issue.

Tested with:
- Windows 10 x64
- Go 1.14.1
- TDC-GCC 5.1.0-2 and TDM-GCC 9.2.0

[2020-07-20 05:22] CsterKuroi commented on #161
@ellis2323 It works for me. 5de7ae7

[2020-07-20 06:49] ellis2323 commented on #161
@CsterKuroi Yes I use it for two projects and it solves my problem.

[2020-07-20 10:28] joesis commented on #161
@ellis2323 @CsterKuroi or anyone could you try if https://github.com/getlantern/systray/pull/162 solves it too? It added a few more mutexes to protect everything can possibly accessed from different goroutines.

[2020-07-22 17:33] gravataLonga commented on #158
@joesis @oxtoacart How and where can i fix this?

[code]

It's anoying and isn't working on windows!

[2020-07-23 02:01] joesis commented on #158
How does the latest master (v1.0.4) works to you guys?

[2020-07-23 02:48] ldstein commented on #158
Can't comment on v1.0.4 specifically, but have been giving  [4c7e35b4e5114211b7c7c3b57484c56de802767a](https://github.com/getlantern/systray/commit/4c7e35b4e5114211b7c7c3b57484c56de802767a) a good workout for the last couple of days. Fixed all the issues for me.

[2020-07-23 10:17] gravataLonga commented on #158
Appears working, but i got other issue i think not related to this.
![image](https://user-images.githubusercontent.com/1126525/88275958-24c24300-ccd6-11ea-9b88-c1b99cb1afb9.png)

[2020-07-23 14:43] joesis commented on #158
@gravataLonga you mean the icons of the menu items? Probably play with the image format a bit though I don't have much experience on that.

[2020-07-23 15:25] gravataLonga commented on #158
@joesis thank you for your time. Yeah, need to play a little bit more. For me you can close this issue it's working now!

[2020-07-24 10:46] Firaenix opened #163 "Crash when registering with WebView"
Hi,

I've been using this systray module for a while and it has been fantastic, however I also want to use it in conjunction with https://github.com/webview/webview. However when I run them in parallel, my code crashes.

I'm far from an expert at golang, but I would really appreciate some help, especially when I can see the webview example in this repo.

Here is some example code based on the exam

[2020-07-24 11:49] psidex commented on #158
I'm still experiencing the same error on 1.0.4 (using the same code in my initial issue)

[code]

[2020-07-24 12:24] gravataLonga commented on #158
@joesis for any one that want to put icon on your systray on windows, the image must be 32px and converted to .ico. Then i used `https://github.com/cratonica/2goarray` to convert to array of bytes.

[2020-07-24 12:43] ldstein opened #164 "[Windows 10] systray.AddMenuItem() intermittently fails when run inside go function"
Hi all,

I'm experiencing an issue where `systray.AddMenuItem()` intermittently stops working. I first noticed the problem in v1.0.0 and exists in all versions up to and including v1.0.4.

It occurs intermittently - if I run ~10 instances of the exe, ~2 tray icons will be missing a menu:

![image](https://user-images.githubusercontent.com/3657344/88390858-6ea54900-cdfc-11ea-91a7-1a9c97779c23.png)

[2020-07-24 17:16] psidex commented on #158
I am also getting an `Invalid menu handle` error when using `AddMenuItem` before using `SetIcon`.

All of these issues seem to be linked to something that `SetIcon` does?

[2020-07-27 11:57] joesis commented on #158
Interesting @psidex the panic means an nil pointer but neither parameters to `copy` at  https://github.com/getlantern/systray/blob/33b837f4b94ed5204e30b0379251ff73ed4913a4/systray_windows.go#L238 can be nil at the point. `t.nid` is an pointer but it [is initialized](https://github.com/getlantern/systray/blob/33b837f4b94ed5204e30b0379251ff73ed4913a4/systray_windows.go#L425) as part of register proc

[2020-08-01 12:46] ldstein commented on #164
Just a quick update - I discovered I can work around this issue by adding a ~400ms delay before calling `systray.SetIcon()`.

With a delay of 0-300ms, `systray.addMenuItem()` would regularly not work.
With a delay of 400ms, I have not seen the issue occur.

I settled on 500ms as a bit of extra safety margin:

[code]

[2020-08-03 12:26] rajkumarks7 opened #165 "getting this issue while starting of the program due to the systray"
(workahub:15355): libappindicator-WARNING **: 17:54:30.474: Using '/tmp' paths in SNAP environment will lead to unreadable resources

(workahub:15355): libappindicator-WARNING **: 17:54:30.475: Using '/tmp' paths in SNAP environment will lead to unreadable resources

[2020-08-03 14:58] dougsland opened #166 "gtk_widget_get_scale_factor: assertion 'GTK_IS_WIDGET (widget)' failed"
This go module looks promising but I am facing an issue when running the example or any other function from API. Am I missing any step?

$ go version
go version go1.14.6 linux/amd64

$ rpm -qa | grep gtk3
webkit2gtk3-jsc-2.28.3-1.fc32.x86_64
libindicator-gtk3-12.10.1-17.fc32.x86_64
gtk3-3.24.21-1.fc32.x86_64
spice-gtk3-0.38-1.fc32.x86_64
libreoffice-gtk3-6.4.5.2-5.fc32.x86_64
libappindicator-gtk3-

[2020-08-07 23:50] max-b commented on #127
I'd like to close this for now. I'm not sure we have the resources atm, but if you'd like to propose the `SetIconFromFile` solution in another issue/PR we can try and think that through there.

Thanks!

[2020-08-07 23:50] #127 closed

[2020-08-22 18:00] haxorof opened #167 "Menu starting with a sub-menu is not correctly rendered"
The [example](https://github.com/getlantern/systray/blob/master/example/main.go) in this repo which contains example of how sub-menus can be built. However, if the sub-menu is the first menu item then it does not render it correctly and second level ends up as a top menu item.

This is tested on Windows 10 which Go 1.15 and what changes I tried in the example was to move the lines [47-50](https://

[2020-08-28 09:12] snmed commented on #135
This is definitely still an issue on macOS and is valid for `systray.SetIcon()` as well. Just switch the icon in an endless loop and you will see how fast the memory consumption will rise. By the way, I using version 1.0.4 of systray.

[2020-08-28 16:22] gravataLonga commented on #34
Any solution to actually build to Darwin?

[2020-09-05 08:06] amalshaji opened #168 "Invalid menu handle | Not working on windows"
[code]

__Same code is working on linux__

[2020-09-13 16:04] sithembiso opened #169 "*MenuItem.Disable() is not working in sub-menu on macOS"
This does not seem to disable the menu element when it is on a sub-menu:
[code]
This works only when applied to the first level menu item.

[2020-09-13 16:33] sithembiso opened #170 "Can we add *MenuItem.AddSeparator() please?"
To be consistent with other frameworks (like Electron for example), I think it is necessary to make this option available. My sub-menu has become untidy. I'm new to this project, so I'm still trying to figure things out. If anyone can suggest a starting point, I'd be happy to make a PR.

[2020-09-14 06:20] joesis commented on #170
Sounds good @sithembiso ! On Windows, it means to pass the proper `parentId` (taken from `MenuItem.parent`) to [`winTray.addSeparatorMenuItem()`](https://github.com/getlantern/systray/blob/c1d1e7e5d9d2aeeffb8c067d7d4393191b12e61f/systray_windows.go#L580) and on other platforms you may need to add `parentId` to the respective `add_separator()`([darwin](https://github.com/getlantern/systray/blob/c1d

[2020-09-14 06:22] sithembiso commented on #170
Thank you @joesis. I'll try to get my hands dirty to see if I can get something working. I hope to make a PR soon.

[2020-09-14 06:22] joesis commented on #169
Which platform did you see this @sithembiso ?

[2020-09-14 06:25] sithembiso commented on #169
I mentioned it on the title :-D. It's macOS. Catalina 10.15.4  to be exact.

[2020-09-14 06:56] joesis commented on #169
Oops sorry. Looking into it

[2020-09-14 07:12] joesis commented on #169
Could you try https://github.com/getlantern/systray/pull/172 @sithembiso ?

[2020-09-14 07:22] sithembiso commented on #169
Brilliant! Worked like a charm @joesis!
Can we get this PR merged, please :-)

[2020-09-14 07:22] #169 closed

[2020-09-14 07:33] joesis commented on #167
Thanks for the finding @haxorof ! How does https://github.com/getlantern/systray/pull/173 work to you?

[2020-09-14 07:42] joesis commented on #168
May relate to https://github.com/getlantern/systray/issues/158

[2020-09-15 05:34] haxorof commented on #167
@joesis LGTM! Verified that the example also worked when I moved the sub-menus above "Quit" as first item.

[2020-09-15 09:01] sithembiso commented on #170
Gave it my best shot on macOS #174  :-D. My Objective C is terrible, I've never actually used it, but this works. What do you think @joesis ?

[2020-09-17 13:33] amalshaji commented on #168
I'm not using SetToolTip of SetIcon. This code isn't working on Windows https://github.com/amalshaji/speedmeter

[2020-09-18 08:08] joesis commented on #170
Great @sithembiso ! We are tight on time but will look asap! And your ObjC is at least not worse than mine.

[2020-09-18 13:15] sithembiso commented on #170
No problem @joesis . I love this project, please let me know if there's anything I can help with.

[2020-09-26 17:44] JanezStupar opened #175 "Is it possible to have "empty" menu?"
Atm if we only add icon then an empty bubble displays on click.

What I would like to know is whether it is possible to configure `systray` in such a manner that one could use the icon just to bring the app into focus?

[2020-10-01 18:54] simonsolberg commented on #166
I have this issue with an applet using this library. Installing TopIcons Plus (https://extensions.gnome.org/extension/1031/topicons/) fixed the issue. Not sure whats going on.

[2020-10-01 20:25] simonsolberg commented on #166
Apparently they removed the legacy tray in Gnome 3.36: https://bugzilla.gnome.org/show_bug.cgi?id=785956 So using an extension is mandatory for this functionality now.

[2020-10-07 19:45] chand1012 opened #176 "Cannot set icon on Windows."
I am having issues setting the icon on Windows, as I keep getting this error no matter how I load the icons:

![image](https://user-images.githubusercontent.com/3521582/95379569-8ba5d000-08b3-11eb-90ee-88e4e10d4012.png)

Here are the following methods that I have used to attempt to load the icons:
[code]
That example can be found [here](https://github.com/chand1012/autoshorten/blob/456fd3d10114d73

[2020-10-08 03:30] chand1012 commented on #176
This issue was due to corrupt data in the icon I was trying to use.

[2020-10-08 03:30] #176 closed

[2020-10-08 15:44] JanezStupar commented on #155
I got the same issue @rajkumarks7 did you work it out somehow?

[2020-10-12 22:41] yusufhm commented on #163
Hey @Firaenix were you able to find a solution to this? I'm running into the same problem.

[2020-10-13 00:04] Firaenix commented on #163
No, I havent been able to unfortunately

[2020-10-15 17:13] rajkumarks7 commented on #155
No

[2020-10-16 09:23] JanezStupar commented on #155
@rajkumarks7 well... I found a way to do it in my environment (go-flutter) as it allows to execute code synchronously in main thread.

But I still had to use a different systray library for Macos - as `systray.Register` doesn't seem to work the way it should for some reason.

[2020-10-16 09:25] rajkumarks7 commented on #155
Cool can I know how to do it

[2020-10-16 10:00] JanezStupar commented on #155
I can share the code used... This is the RPC entrypoint I am using: https://github.com/go-flutter-desktop/go-flutter/blob/47c327c03984e00b5bd571fcdb68faff958d451b/plugin/method-channel.go#L138

And this is the project I am working on: https://github.com/JanezStupar/flutter_systray

I would gladly help more, but there is a chance that you will be able to figure it out on your own quicker.

Just a b

[2020-10-19 04:03] #167 closed

[2020-10-22 14:03] JanezStupar commented on #161
@ellis2323 the referenced commit does seem to help a bit - but the issue still happens in 1/20 cases by my estimate. But there is an additional error - sometimes not all menu items are added to the menu.

@joesis this also seems to help a bit, but the issue still persists and is more common than the other solution.

It may all be sampling error for what I know...

[2020-10-23 02:01] aapi-rp opened #177 "onExit not working Latest Windows 10, and Latest Windows Server 2016"
The onExit method never kicks off

func main() {
	systray.Run(onReady, onExit)
}

func onReady() {

	data, err := ioutil.ReadFile("C:\\Users\\treas\\Downloads\\logo.ico")
	if err != nil {
		fmt.Println("File reading error", err)
		return
	}
	systray.SetIcon(data)
	systray.SetTitle("Awesome App")
	systray.SetTooltip("IM Just in Time Provisioning App")
	mQuit := systray.AddMenuItem("Quit JIT Service

[2020-10-23 02:29] aapi-rp commented on #177
Never mind, I got it to work with the following code:

go func() {
		<-mQuit.ClickedCh
		log.Println("Requesting Quit")
		systray.Quit()
		log.Println("Finalizing Quit")
		os.Exit(2)
	}()

[2020-10-23 02:54] #177 closed

[2020-10-23 02:56] aapi-rp opened #178 "The tray icon vanishes after about 2 mins of being up"
func main() {
	go systray.Run(onReady, onExit)
}

func onReady() {

	data, err := ioutil.ReadFile("C:\\Users\\treas\\Downloads\\logo.ico")
	if err != nil {
		fmt.Println("File reading error", err)
		return
	}
	systray.SetIcon(data)
	systray.SetTitle("Awesome App")
	systray.SetTooltip("IM Just in Time Provisioning App")
	mQuit := systray.AddMenuItem("Quit JIT Service", "Quit the whole app")

	// Se

[2020-10-23 03:10] aapi-rp commented on #178
Ok, I am done posting stupid questions.  This is fixed as well, the icon was being hidden by windows after about 2 minis.

[2020-11-08 09:45] subins2000 commented on #148
Removing the `SetTooltip` call fixed the crash for me

[2020-11-14 14:58] fbrinker commented on #49
So this is implemented for Windows and macOS right now?
I would love to see this for Linux too. Currently, I'm using \t to fake-intend Submenus on Linux... 😞

Any ideas how to implement this? I couldn't find any hints on the internet for the libappindicator

[2020-11-14 16:50] fbrinker opened #180 "Checkboxes for Linux users"
I would like to introduce checkboxes for Linux users.
Please see the PR for details. Any feedback is welcome

[2020-11-14 20:35] fbrinker opened #182 "Submenus for Linux users"
I would like to introduce submenus for Linux users.
Please see the PR for details. Any feedback is welcome

[2020-11-17 07:52] d1y opened #184 "Unable to addOrUpdateMenuItem: Invalid menu handle"
my Mac test is OK

Error report in Windows :(

![image](https://user-images.githubusercontent.com/45585937/99361228-bc364c00-28ec-11eb-8984-857cc3fc9cc1.png)

[code]

What happened?

Thank you

the project link:

https://github.com/jsxxzy/inettray

[2020-11-17 17:04] #168 closed

[2020-11-18 09:38] #180 closed

[2020-11-18 11:30] koltyakov commented on #135
Experiencing the same issue. The app I'm working on should constantly change an icon detecting notifications status change. Temporary ended up not changing the icon for macOS, but only the title.

[2020-11-18 12:43] #182 closed

[2020-11-20 15:11] jftuga opened #185 "Typo in project's About"
About:

    a cross platfrom Go library to place an icon and menu in the notification area

`platform` is mispelled

[2020-11-21 20:28] prashantgupta24 opened #186 ".Hide() messes the UI if used with time.After"
[code]

This results in something like this after 6 seconds:

<img width="166" alt="Screen Shot 2020-11-21 at 12 10 11 PM" src="https://user-images.githubusercontent.com/9909241/99886741-c2ca0980-2bf3-11eb-9385-d010c44015b4.png">

I wonder why that happens? If I try to hide the same menu items on a sub-menu click, then it works fine.

[2020-11-24 06:30] prashantgupta24 commented on #163
Even I am not able to make it work with webview.

I tried fyne, (fyne.io), and at least it doesn't crash on start up, it shows the fyne ui. But unfortunately the systray doesn't show up.

[code]

[2020-12-01 16:52] tmalaher-telus commented on #30
I started down this road for windows, trying to create a minimal change to handle right-click, left-click and left-double-click, but ran into the following questions:

1. Should it use a channel or set of channels (like existing menu click handlers) or should it be "OnIconTray[Left|Right][Double]ClickHandler" as suggested by @biter777
2. Distinguishing single click from double click requires "debo

[2020-12-01 16:54] tmalaher-telus commented on #33
See also issue #30. These two issues should probably be merged.

[2020-12-16 11:50] d1y opened #187 "[feat] systray add `drop` event"
just like electron api

https://cloud.tencent.com/developer/section/1116403

I want to trigger an event when a file is dragged to the tray

我想当有文件拖动到托盘时触发某个事件

Thank

[2020-12-23 19:55] tommi-hack opened #188 "Expose clicks on the systray icon."
Use case:

I want to use systray icon without menu. Instead, I would like to get some notification about the click on systray icon.
Especially good would be if click returned x, y coordinates of the potential menu.

Featre request:
1. Make it possible to pass in channel that would receive event on systray icon clicks.
2. make the channel to return menu location

Theoretically it could be something

[2020-12-25 07:41] ngxlua opened #189 "[help] crash runtime: unknown pc 0x7f3e7dca37bb"
I try to run `getlantern/systray/webview_example`

env:
[code]

error:
[code]

[2020-12-25 07:45] ngxlua commented on #189
I have installed the following packages as prompted by the readme:

[code]

[2020-12-26 03:58] davidnewhall commented on #34
Same problem building linux from macOS. Now that I've added GUI code to my app, my CI/CD pipeline can no longer cross compile the binaries. Leaves me in quite a pickle.

[2020-12-26 09:17] koltyakov commented on #34
If you’re on a macOS it’s less painful to cross-compile manually. Cross-compilation to Windows works OOTB. For Linux, you’d need Docker on a macOS and bit of scripting. For CI/CD pipeline, won’t do it without different platform agent matrix. Maybe it’ll be useful [this](https://github.com/koltyakov/github-notify) is how I bootstrap cross-compilation (from macOS host) for a small project with systr

[2020-12-26 13:39] davidnewhall commented on #34
@koltyakov - Really appreciate that. :) I managed to get the pipeline split into one build for _everything else_ and one for macOS (on a Mac), so I've overcome my pickle.

[2021-02-03 11:03] xiangxud opened #190 "Why does my program double-click directly run well, but I use tool software nssm.exe to register as a Windows service, an error will be reported"
Has anyone encountered it? I use the windows exe program written by go to double-click it directly to run well, but I use the nssm.exe After registering as a service, the initialization of the form failed. I used the systray package, and the program log is as follows
2021-02-03 05:47:05.904: ERROR systray: systray_windows.go:765 Unable to init instance: Unspecified error [error=Unable to init inst

[2021-02-11 10:26] alourie commented on #84
I'm having this issue as well, running master branch from git. `SetTitle()` doesn't seem to have any effect.

I'm running Linux (arch) with i3 and polybar as a systemtray, also tested with trayer. Any pointers would be appreciated.

[2021-02-16 23:18] #190 closed

[2021-02-24 14:01] nekr0z opened #191 "libayatana support?"
It looks like Debian [is deprecating libappindicator](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=895037) in favour of `libayatana-appindicator`. Any chance it will be supported by `systray`?

[2021-03-02 00:56] chengziqing opened #192 "子菜单图标不透明"
子菜单图标不透明，如果是透明色，会变成黑色，很难看

[2021-03-02 16:20] xxxserxxx opened #193 "MenuItem.Checked() always returns start state"
Regardless of the state of a checkbox, the `Checked()` function always returns the initial state. I expect it to return the current state of the checkbox.

**OS**: Linux 5.11.1-arch1-1
**systray**: v1.1.0 h1:U0wCEqseLi2ok1fE6b88gJklzriavPJixZysZPkZd/Y=
**Go**: 1.16beta1

Sample program demonstrating the behavior:

[code]

Output is always "checked."  A small video of the behavior is attached.

htt

[2021-03-03 12:04] xiaobingcaicai opened #194 "xp系统上64x64的icon加载时异常"
接口调用会崩溃

[2021-03-03 16:04] hajsf opened #195 "Not working from inside a goroutine"
In my app, I'm trying to run 3 goroutines:
- http listner
- ui using [lorca](https://github.com/zserge/lorca)
- systray
Both `http listner` and `lorca ui` are working fine, but the `systray` is not executed, my code is:
[code]
If I tried to execute `systray.Run(onReady, onExit)` without goroutine, then the `systray` is working fine, but blocking the other 2 goroutines frombing executed!

I'm runni

[2021-03-05 07:39] xiaobingcaicai opened #196 "能否添加win系统上的托盘消息功能"
消息托盘已经具备，可不可以继续扩展，实现托盘区域的消息通知？
由于需求需要 我简单的进行了实现
systray_windows.go 中增加了一个开放接口

`//NotifyMessage 任务栏通知
func NotifyMessage(title string, msg string) {
	go func() {
		for wt.nid == nil || wt.nid.Icon == 0 {
		}
		const NIM_MODIFY = 0x00000001
		const NIF_INFO = 0x00000010
		const NIIF_USER = 0x00000004
		const NIIF_LARGE_ICON = 0x00000020

		wt.nid.Flags |= NIF_INFO
		copy(wt.nid.InfoTitle[:], window

[2021-03-06 06:58] Altiano commented on #195
i have the same issue too

[2021-03-12 00:31] ooing commented on #194
起码错误信息

[2021-03-12 10:26] xiaobingcaicai commented on #149
i get the same problem, win10 and win7 usually

[2021-03-12 10:30] xiaobingcaicai commented on #149
after some minutes? maybe hours?

[2021-03-12 10:37] xiaobingcaicai commented on #50
you can try my way
https://github.com/getlantern/systray/issues/196

[2021-03-12 10:39] xiaobingcaicai commented on #149
have you solved?

[2021-03-15 19:27] samschurter opened #197 "SetIcon() causes panic on Windows when called quickly after loading icon from disk"
I upgraded from `github.com/getlantern/systray v0.0.0-20190727060347-6f0e5a3c556c` to `github.com/getlantern/systray v1.1.0` and ran into the following panic on Windows 10 (not tested on other OS):
[code]

The code I was using to setup the icon is here:
[code]

I fixed the panic by adding a `time.Sleep(100 * time.Millisecond)` before the call to `systray.SetIcon(icon)`. It seems to work reliably w

[2021-03-23 09:18] iamatsundere opened #198 "System tray icon is not available when run app?"
Hi, I created a system tray app with these code and the build command below

[code]

`env GO111MODULE=on GOOS=windows GOARCH=amd64 go build -ldflags -H=windowsgui  main.go`

But when it runs, the program can not find the icon, how can I fix that?

[2021-03-24 07:52] iamatsundere commented on #198
I got the answer, I used go:embed to embed the icon files.

[2021-03-24 07:52] #198 closed

[2021-03-26 17:15] mc51 commented on #195
I'd be interested in a solution as well.

[2021-03-30 08:48] tarasmatsyk commented on #195
This happens because of `runtime.LockOSThread()` in the init function which ensures that current goroutine fully occupies the current thread and does not "let in" other goroutines. I don't know why author has chosen to run it on the module init, probably to make the module safe and simple.

However, there is a workaround, you can release the current thread and occupy it (hopefully another one) in

[2021-03-30 09:09] tarasmatsyk commented on #195
This happens because of `runtime.LockOSThread()` in the init function which ensures that current goroutine fully occupies the current thread and does not "let in" other goroutines. I don't know why author has chosen to run it on the module init, probably to make the module safer and simpler.

However, there is a workaround, you can release the current thread and occupy it (hopefully another one) i

[2021-03-30 09:21] mc51 commented on #195
Thanks for the idea @tarasmatsyk. I've been trying some things as well. However, I'm really at the beginning of understanding Go so things are not clear yet. For Linux and Windows I've managed to run systray + another GUI Lib (in my case [goey](https://pkg.go.dev/bitbucket.org/rj/goey)). But I've found that MacOS seems to be special in its requirements regarding UI. It requires UI stuff to be runn

[2021-03-31 08:22] dosgo opened #199 "Would ClickedCh be designed as a callback function to be more elegant?"
Would ClickedCh be designed as a callback function to be more elegant?

[2021-04-02 21:09] ForestJohnson commented on #34
why was this comment deleted? http://web.archive.org/web/20201221103316/https://github.com/getlantern/systray/issues/34

[2021-04-02 21:19] ForestJohnson opened #201 "Cross compilation should be explained on readme"
Per https://github.com/getlantern/systray/issues/34 (Error compiling from Linux for Darwin
)  it looks like including this package in an application will make that application not able to be cross compiled.

it would be nice if there was a matrix which shows what kind of cross compilation is possible and when its not possible, what the reason is.   For example:

|. |Build on Mac  | Build on Window

[2021-04-03 18:34] Etua commented on #158
My program would crash about 50% of the time because of this issue until I started adding 500ms delay before calling _setToolTip_ as suggested by @ldstein in #164 and it seems to have worked. Why you ask? I have no idea but there is something glitchy going inside the library.

[2021-04-04 11:32] gravataLonga commented on #158
Sorry, why comment's was deleted? Only for curiosity..

[2021-04-20 13:07] rajkumarks7 opened #203 "getting issue in the redhat try to run the code."
#pkg-config --cflags  -- gtk+-3.0 appindicator3-0.1
Package appindicator3-0.1 was not found in the pkg-config search path.
Perhaps you should add the directory containing `appindicator3-0.1.pc'
to the PKG_CONFIG_PATH environment variable
Package 'appindicator3-0.1', required by 'virtual:world', not found
pkg-config: exit status 1

getting the above error when i try to do go get -u github.com/getla

[2021-04-22 23:37] nadavami commented on #34
Not 100% same use-case, but I ran into the same issue when trying to cross compile a darwin amd64 binary on darwin arm64.

I was resolve the issue by building it using the following command:
`CC=gcc CGO_ENABLED=1 GOOS=darwin GOARCH=amd64 go build -gccgoflags="-DDARWIN -x objective-c -fobjc-arc" -ldflags="framework=Cocoa" .`

[2021-05-03 01:42] lysShub opened #207 "remove black backgroud on windows"
![image](https://user-images.githubusercontent.com/55095917/116834958-ff624e00-abf2-11eb-90b7-32e35e13e4bd.png)

The icon has a black background on the menu bar

[2021-05-06 18:14] benjojo commented on #197
@samschurter Is it possible for you to write up a quick snippet to trigger this? I'm looking at merging #206 but I don't really have any test cases to verify that this the PR works

[2021-05-10 12:04] alexadhy opened #208 "Compatibility with `golang-cross` or `osxcross`"
Anybody succeeded in building this via `osxcross` or `golang-cross`?

Log:

[code]

[2021-05-10 15:13] samschurter commented on #197
Unfortunately I can't reproduce this anymore, at least not without significant time to work on it. The app has moved forward and I've added things that are slowing down the startup like user input dialogs and database connections. My PC was also upgraded in the meantime and I think it has a faster SSD, so maybe that's affecting it as well.

When I just create a basic example program that does noth

[2021-05-12 05:22] Altiano commented on #195
That being said,

The only alternative is to spawn another process for the UI.

[2021-05-12 17:17] alexadhy commented on #208
nevermind it's just old version of clang, using `>= clang-8` works

[2021-05-12 17:17] #208 closed

[2021-05-18 08:51] #195 closed

[2021-05-24 11:06] shellhazard commented on #191
Is there a workaround for this? Haven't been able to satisfy the dependency on Debian Bullseye.

[2021-05-31 16:16] vladimirschuka opened #209 "systray.Register doesn't work"
Hi, I'm really interested in that project but for some reason it does not work as expected. What I mean:
I have done such an example:
[code]

but systray never show up. I found out that `onReady()` never executed.

I have tried `go systray.Run(onReady, nil)` but it also doesn't work because of
[code]
What do I wrong? or it is already known problem.

[2021-06-08 05:42] vivekvardha commented on #209
I am facing same issue.

This is happening when I try to launch the systray in a seperate goroutine. If it is launched in main goroutine, OnReady is getting executed.

I am facing this issue on MAC. However on window it works fine.

[2021-06-15 08:05] si458 opened #210 "unable to run as windows service with winsw"
is it possible to get this to work as a windows service with https://github.com/winsw/winsw?
the example works perfectly fine if run from command line, and even standard exe and double click
but if you try to run it as a service, it is never displayed ???
BUT it is indeed running in the taskmanager?

[2021-06-15 13:18] jsmyb opened #211 "undefined functions"
../../go/pkg/mod/github.com/getlantern/systray@v0.0.0-20190727060347-6f0e5a3c556c/systray.go:81:2: undefined: nativeLoop
../../go/pkg/mod/github.com/getlantern/systray@v0.0.0-20190727060347-6f0e5a3c556c/systray.go:87:3: undefined: quit
../../go/pkg/mod/github.com/getlantern/systray@v0.0.0-20190727060347-6f0e5a3c556c/systray.go:105:2: undefined: addSeparator
../../go/pkg/mod/github.com/getlantern/s

[2021-06-23 07:56] vivekvardha opened #212 "systray.Quit() behaves differently in mac and windows"
[code]
I lanuched the systray using above snippet in both mac and windows.

When quit is selected from the menu options, it behaves differently on both the platforms.
In windows, after the systray is quit, control get backs to main and prints "back to main" whereas in mac, this log is not occuring which means that the application exits from systray.Run function(control is not getting back to the m

[2021-06-29 13:10] vivekvardha commented on #212
Is this project no more maintained??

[2021-07-06 17:41] jugg1es commented on #211
I'm having the same problem

[2021-07-07 02:36] davidnewhall commented on #212
+1 - I experienced the same behavior, and had to add `os.Exit(0)` to the onExit function. It's ugly, and I wish this was consistent.

[2021-07-07 03:13] davidnewhall commented on #170
I'd like this feature too. Here's my silly workaround:
[code]

[2021-07-15 02:32] shairozan commented on #184
I ran into this yesterday on an app that was working fine for MacOS, but wouldn't work on Windows. I found [this](https://www.gitmemory.com/issue/getlantern/systray/158/663643361) article that indicated it seems to break if you try to do anything to the menu item *before* the icon is set.

For me, it was originally:

[code]

and it would give the same error you're seeing. I rearranged it to:

[cod

[2021-07-15 19:37] TomYeoman opened #213 "Unable to download"
Issue installing

[code]

I've tried installing `apt-get install build-essential libgtk-3-dev` as per online finds https://askubuntu.com/questions/779065/pkg-config-not-finding-gtk-3-0

Anyone encountered this?

I'm running  Ubuntu 18.04.4 LTS

[2021-07-24 22:58] xeijin commented on #210
@si458 probably for the same reason as mentioned in this comment:

https://github.com/hallazzang/hallazzang.github.io/issues/2#issuecomment-546581674

[2021-07-24 23:00] si458 commented on #210
I'm closing this as it's already discussed it's not possible to use with a windows service as it's must be run as a separate application as the user instead

[2021-07-24 23:00] #210 closed

[2021-07-27 13:41] ppacher commented on #191
Any update on this?

[2021-07-27 16:27] nekr0z commented on #191
I ended up making [a fork](https://github.com/nekr0z/systray). The diff is just a couple of lines.

I'd make a pull request but I can't figure out choosing which dependency to use on the library level. It is, however, fairly trivial to use build tags to have your app compiled to use [the original library](https://github.com/nekr0z/matebook-applet/blob/master/systray_legacy.go) or [the forked one](

[2021-08-07 11:24] egregors commented on #211
Does someone find the solution? I just can't build the project because of this problem

[2021-08-08 06:24] rithvikvibhu commented on #213
The README says:

[code]

So the `libappindicator3-dev` is also needed I think.

[2021-08-10 00:59] jugg1es commented on #211
If you are trying to build for OSX, it appears as though you have to build on OSX.  You can't build cross-platform for OSX from what I can tell.

[2021-08-23 09:12] xeijin commented on #209
Running GUI on the main thread is a macos requirement I believe.

Maybe this could help: https://github.com/golang-design/mainthread

[2021-08-30 13:29] TomYeoman commented on #213
Here's my output after running -

![image](https://user-images.githubusercontent.com/14075632/131346708-102773c8-f4ba-4516-b76a-a9f6b880a452.png)

I'm on WSL2 for windows, running ubuntu 18.04 if that's related. Can I build using WSL ubuntu?

[2021-09-16 09:08] linlinv3 opened #214 "Cannot receive the verification code,If the mailbox contains."
Cannot receive the verification code    email:  houlin.h@163.com

[2021-09-21 08:42] donomii commented on #212
I would like it if the MacOS version did not quit.  There is currently no way to shutdown systray and release the resources on macosx, while the program is still running

[2021-09-26 10:43] davidnewhall commented on #150
+1 I have a situation where I really need to be able to close the channels on my menus. They are created dynamically, and once in a while a reload occurs that may totally change them. Since I run this on multiple platforms, and I cannot exit systray in macOS, being able to delete menus entirely would be an ideal ability.

[2021-09-28 14:43] gijswobben opened #215 "Basic systray opens a blank window when clicked (Windows)"
Following the basic example, if I click the icon in the system tray, the menu is shown, but also a blank window opens. This window is visible in the taskbar, but has no title and no content. If I close the window, my app is closed as well. Any ideas on how to fix this?

Go version: 1.17.1
Windows 10 Pro

Build command:
`GOOS=windows GOARCH=amd64 GO111MODULE=on go build -ldflags -H=windowsgui`

No

[2021-09-29 20:58] fontoura commented on #215
I got the same behavior.

The following showed up when I right-clicked on the tray icon.

![image](https://user-images.githubusercontent.com/728272/135347455-b9f928a5-e1d0-4e4c-86fa-ed50c6923d4f.png)

[2021-09-30 07:37] gijswobben commented on #215
Tried compiling using older versions of the library, and older versions of Go, but that doesn't have any effect.

[2021-10-04 15:17] gijswobben commented on #215
@fontoura Could you try this? For some reason mine is working fine now...:
`GOOS=windows GOARCH=amd64 GO111MODULE=on go build -ldflags="-H 'windowsgui'"`

Note the quotes around the ldflags.

[2021-10-13 22:42] fxfactorial opened #216 "Removing dynamically made separators and menu items"
Thank you for the library - I don't see support for removing separators or menu items - is this currently possible?

EDIT: I've seen quite a few other issues mentioning this need - is there a reason why its not implemented? maybe someone else can do as PR if the things needed can be shared/steps

[2021-11-23 16:15] #216 closed

[2021-11-28 03:34] precisionpete opened #217 "Clicking on the tray icon itself?"
Is there a way to receive a click on the systray icon itself?

i.e. If you had a menu with only one choice, it would be nice to skip the menu altogether and just perform an action. Like Microsoft OneDrive does... Click the icon and it brings up a whole window...

e.g.

[code]

Otherwise, great! Thanks

[2021-12-22 09:47] davidnewhall opened #218 "Show() does not restore or display sub menu items on Windows."
When running .Show() on menu item with sub menu items, the sub menu items do not appear. I'm not real sure how to work around this. Ideas?

This reproduces the issue:
[code]

If you remove the `sub.Hide()` line then the sub menu item appears; otherwise, it does not. macOS does not have this problem, and I did not test on Linux. If you remove the sleep, then the library throws panics about Invalid

[2022-01-01 11:30] donething opened #219 "Windows10 上 经常不会弹出菜单"
右键点击托盘图标经常不会弹出菜单，结束程序再运行，有可能恢复正常。

[2022-01-07 10:00] davidnewhall commented on #215
All Go applications open a console window. You can control it though. The LD flag @gijswobben provided is 1 way. I decided that when my application panics, I want it to pop up the console window (so the user can see the panic). Using the LD flag prevents this as it disables the window entirely.

What I do is run [this procedure](https://github.com/Notifiarr/notifiarr/blob/ad50c60f641155ff681cc2d91

[2022-01-11 06:38] ehsun7b opened #220 "Windows 11"
fails completely. See the attachment.
<img width="483" alt="Screen Shot 2022-01-11 at 5 37 13 pm" src="https://user-images.githubusercontent.com/2492253/148893532-2b198c02-dd01-40f2-af21-30d63a3a2eec.png">

[2022-01-13 07:22] leejoys commented on #158
This way it's working:

`func main() {
	systray.Run(onReady, onExit)
}

func onReady() {
	systray.SetTitle("Sup")
	systray.SetIcon(ico)
	systray.SetTooltip("Sup")
}

func onExit() {

}
`

But this way fall to panic:

`func main() {
	systray.Run(onReady, onExit)
}

func onReady() {
	systray.SetTitle("Sup")
	systray.SetTooltip("Sup")
	systray.SetIcon(ico)

}

func onExit() {

}
`

[2022-01-13 19:56] smartaquarius10 opened #221 "Double click to open terminal?"
Hello,

Is it possible to perform double click on the application and maximize to console to view logs or any other text?

Thanks

[2022-01-16 10:28] davidnewhall commented on #218
Confirmed #204 fixes this.

[2022-01-18 16:23] indeedhat commented on #211
my guess would be that you are trying to build with cgo disabled, i did a little test and this is what i see on linux without cgo

[2022-01-24 19:45] danielcasler opened #222 "Is this package still being actively maintained?"
Hello, we are looking to use this package, however, it looks like it may not be actively maintained anymore?

[2022-01-25 20:40] schreibe72 opened #223 "Spacing between icons changes (Monterey, M1 Mac with Notch)"
The distance between the icons in the menubar changes as soon as a program is started with this lib. This seems to occur only on monterey and new M1 models with notch. Intel models with the same OS version do not have this problem.
Here screenshots without and with systray.
Before starting systray app:
<img width="736" alt="without_systray" src="https://user-images.githubusercontent.com/9357525/15

[2022-01-28 14:38] Crosse commented on #222
Hi! We do use this package in our own apps, but not much development (internally) has gone on with it for a bit. I'll try to take a look at the various PRs and issues in this repo and start triaging things soon!

[2022-01-29 22:10] DVSoftware commented on #223
It is not this library issue, as it should happen with any other app. Known issue on Monterey.

[2022-01-29 23:17] Crosse commented on #223
@DVSoftware is it related to [this thread](https://forums.macrumors.com/threads/monterey-menu-bar-icon-spacing.2325987/)?

[2022-01-29 23:24] DVSoftware commented on #223
@Crosse yes, that's the issue, but not that thread specifically, I saw it on reddit: https://www.reddit.com/r/mac/comments/qyb7v4/monterey_m1_my_menu_bar_icons_are_randomly/

[2022-01-31 14:25] Crosse commented on #223
Another one linked to that Reddit thread, where the OP submitted a bug report to Apple: https://www.reddit.com/r/MacOS/comments/qw83xp/anyone_else_notice_the_menu_bar_status_icon/

Since this appears to be a more general issue with Monterey and the M1 "notched" MBPs, I'm going to close this.

[2022-01-31 14:25] #223 closed

[2022-02-16 19:27] eyedeekay commented on #222
The library is broken on current Debians and Ubuntus, it would be pretty cool for those users if we could at least get an update to ayatana-appindicator

[2022-02-22 12:49] dhaavi commented on #222
Just getting the ayatana-appindicator fix in this lib would be great.

The issue for this is here: https://github.com/getlantern/systray/issues/191
There is a fix in this fork already: https://github.com/nekr0z/systray/commit/891b38719d739d142ba82f55cc133495ca27d5bc

[2022-02-22 20:12] Crosse commented on #191
I've proposed #225 to allow this library to build against both the older `libappindicator` and new `libayatana-appindicator` libraries.

[2022-02-22 21:12] #148 closed

[2022-02-22 21:12] #158 closed

[2022-02-22 21:12] #164 closed

[2022-02-22 21:20] #211 closed

[2022-02-22 21:23] Crosse commented on #185
Fixed in ecaa4b94

[2022-02-22 21:24] #185 closed

[2022-02-22 21:27] Crosse commented on #80
I'm guessing this would have been closed in 986b75b, when we added modules support (via go.mod/go.sum).

[2022-02-22 21:27] #80 closed

[2022-02-22 21:40] Crosse commented on #22
I think this was closed with #43.

[2022-02-22 21:40] #22 closed

[2022-02-23 18:22] Crosse commented on #191
Closed via #225.

[2022-02-23 18:22] #191 closed

[2022-02-24 05:36] eyedeekay commented on #222
Well it looks like they merged my PR: https://github.com/getlantern/systray/pull/225 which fixed it, at least this part.

[2022-02-26 01:52] Lercher opened #226 "Windows: execute event handler on the UI thread"
Hi all,

probably it's too long since I've seen a message pump. However, I need some advice on how to execute something like `ShowWindow(...)` on the UI thread. The issue is that Windows won't bring the intended window to the foreground as a reaction to a menu item click. I speculate that Windows don't activate the window, b/c it's not the UI thread (it's some plain go routine) that calls `ShowWin

[2022-03-04 23:13] gandaldf opened #229 "Shortcut keys"
Hi, is there a way to add the shortcut keys of a menu item?
![](https://i.ibb.co/XZ2n8yq/shortcut-keys.png)

[2022-03-06 12:39] sebastian0x62 commented on #217
Same situation here. Would be very helpful.

[2022-03-07 14:23] fy0 commented on #196
win10上似乎不工作，我使用了这个库:
https://github.com/gen2brain/beeep

[2022-03-08 03:14] Sudiaty opened #230 "systray_linux.c:7:10: fatal error: libappindicator/app-indicator.h: 没有那个文件或目录"
OS env
[code]
I have installed `gcc libgtk-3-dev libayatana-appindicator3-dev`. But `ayatana-appindicator3-0.1.pc` is founded instead of `appindicator3-0.1.pc`. So I exected `ln ayatana-appindicator3-0.1.pc appindicator3-0.1.pc`. Then I got following error while building.

[code]

[2022-03-08 03:50] Sudiaty commented on #230
[code]

[2022-03-08 03:50] #230 closed

[2022-03-15 04:00] davidnewhall opened #231 "Can we get MacOS M1 support?"
I'd like to create binaries for M1 users, but this library does not seem to compile against darwin+arm64 (MacOS M1). I'll be forever grateful if this feature can be added.

Thank you!

---

Reproduction steps:
[code]
Output:
[code]

[2022-03-15 04:02] davidnewhall commented on #217
This duplicates #188.

[2022-03-15 04:20] davidnewhall commented on #231
Come to think of it (looking at the code), this is a cross compile issue.... I'll try this on a real M1 and report back.

[2022-03-15 04:50] davidnewhall commented on #231
This works fine on M1. I'll report back if I can get cross-compiling to work.....

[2022-03-15 04:50] #231 closed

[2022-03-15 07:17] davidnewhall commented on #231
I was able to cross compile just fine from an amd64 mac to arm64 with xcode 13.2.
https://app.travis-ci.com/github/Notifiarr/notifiarr/jobs/563321323#L549

[2022-03-16 14:08] Crosse commented on #231
Sorry about the delay, I went on paternity leave last week! Glad that you got this working, though!

[2022-03-26 18:54] precisionpete commented on #222
My latest Mint 20.3 OS updates broke it....

[code]

I think the updates moved me to `libayatana-appindicator3-1`. So it's not forward compatible either.

But I got it working with...

`go build -tags=legacy_appindicator`

FWIW

[2022-03-30 06:03] ctaoist commented on #196
作者好像没有添加这个功能的打算，你要不fork一份吧，我们直接引用你那边的库了

[2022-04-10 02:02] wobsoriano commented on #222
Another good fork https://github.com/fyne-io/systray

They are planning to add it in https://fyne.io/

[2022-04-10 23:46] eyedeekay commented on #222
That makes a compelling choice

[2022-05-04 04:48] talgat-ruby opened #233 "Running only one instance at a time"
Hi how can I ensure only one instance of application is running?

[2022-05-05 09:02] dhaavi commented on #191
For anyone further looking into this: This ended up being a bad idea for our use case, as we ship a single binary for multiple distros. From what we can tell, this then broke all the systrays on everything not based on Debian, as all others don't have the `libayatana-appindicator` library.

Our solution was to switch to the fork https://github.com/fyne-io/systray, as they now use dbus directly ins

[2022-05-07 18:44] Crosse commented on #191
Interesting. Once I’m back “in the office” I’ll take a look at that and see if we can do the same or similar. Thanks for the heads-up.

[2022-05-09 19:38] fy0 commented on #219
如果在goroutine中，使用这个应该可以
[code]

[2022-05-13 13:42] eliveikis commented on #233
In C++, typically this is done at the start of your program by checking some shared resource, for example a shared memory file or a file on disk, and quitting if it is already used. I imagine you should be able to use  similar technique in Go, although whatever it is, make sure it handles crashes gracefully.

[2022-05-14 12:19] Southclaws opened #235 "Documentation: SetIcon on Windows must be a .ico file otherwise LoadImageW returns 0x0 and error DNS_ERROR_RCODE_NO_ERROR"
I spent a bit of time debugging this and trying things so it's worth mentioning in the docs. Issue title for SEO to help others who may run into this.

On mac you can have an optional .png as an icon, but Windows requires an icon (in order to call other APIs, such as Shell_NotifyIcon the icon must be present)

Hopefully this helps someone!

[2022-05-16 12:48] donething commented on #219
谢谢，我在3个工具中都加了这句，试了好几次，没有弹不出菜单的问题了。

[2022-05-16 12:48] #219 closed

[2022-05-16 15:22] #233 closed

[2022-06-08 17:52] dikey0ficial commented on #86
Getting this error on Kubuntu 21.04 (goos: linux, goarch: amd64) (using [Gio](https://gioui.org/) for GUI):
<details><summary>Output</summary>

[code]
</details>

[2022-06-08 18:18] dikey0ficial commented on #86
Got new information: i'm getting this only in Xorg, in wayland I haven't it)

[2022-06-08 19:16] dikey0ficial commented on #86
Delve says that error is here:
https://github.com/getlantern/systray/blob/6065fda28be8c8d91aeb5e20de25e1600b8664a3/systray_linux.c#L147-L148

<details><summary>Delve output (part with systray)</summary>

[code]
</details>

[2022-06-22 00:14] pdj1010 opened #236 "GLib-GIO-CRETICAL **: 09:06:18.363: g_dbus_proxy_new: assertion 'G_IS_DBUS_CONNECTION (connection)' failed"
If you run the example, you will get a message like this:
"GLib-GIO-CRETICAL **: 09:06:18.363: g_dbus_proxy_new: assertion 'G_IS_DBUS_CONNECTION (connection)' failed"

The process is active, but the icon is not displayed.
The problem is that it happens intermittently.
An issue with fcitx has been reported. But fcitx is not installed.

Has anyone experienced the same problem?

on debian11

[2022-07-01 20:28] liperium commented on #203
Same here

[2022-07-02 20:01] Jacalz commented on #201
FYI, this has mostly been solved with https://github.com/fyne-io/systray. It has removed the need for CGO on Linux.

[2022-07-04 01:30] gozeon commented on #196
see https://github.com/gozeon/xtool/blob/340b2458b54e39fd8ec9dd7f0eed8a8b0f639cf9/main.go#L33

[2022-07-04 02:05] gozeon commented on #154
window use `*.ico`

see https://github.com/gozeon/xtool/commit/4a3b6152f27a786679a01663b30a6c0877c015f3#diff-2873f79a86c0d8b3335cd7731b0ecf7dd4301eb19a82ef7a1cba7589b5252261

[2022-07-05 14:06] andrewfstratton opened #237 "Terminating process leaves icon visible"
(Run on Win 11)

When I terminate the go application - the tray icon is left visible in the sys tray (possibly off screen) and will remain there until mouse over - it then disappears.  This happens when:

- the application is built, then the 'exe' is run from the command line, then Ctrl-C used to kill the application.   _Note that the application is removed from the Task Manager_
- or using VS Cod

[2022-07-05 14:15] andrewfstratton commented on #220
You probably need to set the icon correctly - you should have a setup something like:

[code]

Where I have this for my icon.go that is imported:

[code]

Hope this helps - Andy

P.S. You might also try this oldish guide - https://dev.to/osuka42/building-a-simple-system-tray-app-with-go-899 - but I think I had issues with Windows and slashes...

[2022-07-05 16:17] Crosse commented on #237
This sounds like your application is not handling Ctrl-C and performing cleanup, but I could be wrong. Killing the app with VSCode will also not let the app do any cleanup it needs to do. Any time you unceremoniously kill an app that has an icon in the system tray, the icon will get left behind; at least that's my experience.

[2022-07-06 14:20] andrewfstratton commented on #237
That is exactly correct - I guess you're saying that systray won't tidy up after itself - and the example code in the Readme.md also has the same issue (I think).

Could/should systray maybe handle an OS Interrupt and exit gracefully?

[2022-07-06 14:43] andrewfstratton commented on #237
I tried adding a handler for Ctrl C - see below (modified from https://golangcode.com/handle-ctrl-c-exit-in-terminal/).

The output after hitting Ctrl-C in the command line shows (correctly) `Quit...` then `Exit...`, but again, **the icon still remains in the system tray until I mouse over it** - then it disappears.  So calling systray.Quit() doesn't seem to tidy up the icon.

I then checked quitt

[2022-07-06 15:05] andrewfstratton commented on #237
Solved - I added a 1 second delay after systray.Quit() before closing everything else down - and the icon disappears correctly...i.e. after menu quitting and after Ctrl-C.

Still doesn't work when VSCode halts and then kills the application - but I can live with that :)

[2022-07-21 22:03] davidrenne commented on #34
@nadavami Im trying to cross compile from intel mac to arm64 for m1's and tried some of these flags but I get

[code]

[code]

Any ideas?  Maybe I have to setup some sort of arm docker container to get this to compile.

[2022-08-08 03:17] ZGGSONG commented on #154
Bytes converted using .ico on windows, both .png and. ico can work on macos

[2022-08-29 13:47] #166 closed

[2022-08-31 08:36] fayfive opened #238 "Can not println when I run the systray on windows"
[code]
When I run `systray.Run(onReady, onExit)` , the app can't println in the console.  Can anybody tell me which options I set?

[2022-08-31 09:01] fayfive commented on #178
Sorry! I have block on the  `systray.Run`

[2022-08-31 09:02] fayfive commented on #238
I have benn blocked ont the `systray.Run`

[2022-08-31 09:02] #238 closed

[2022-09-07 23:11] OptimisticLock opened #239 "How do we make a dock icon do something interesting when clicked?"
There is a large app icon sitting in the dock on Mac. We could remove it, but we'd prefer it to do something interesting, e.g. open a popup or a window. Any way to do that?

[2022-09-07 23:26] OptimisticLock commented on #239
Sorry, please disregard. I didn't RTFM. Here is the answer.
[code]
https://libraries.io/go/github.com%2FfuqiangZ%2Fsystray

[2022-09-08 14:00] Crosse commented on #239
This library is for adding an icon to the system tray (the menu bar, on macOS); it doesn't do anything fancy with dock icons. You'll need to handle that in your app's code, I think.

[2022-09-08 14:00] #239 closed

[2022-09-10 21:39] OptimisticLock commented on #239
Would it be possible to have the dock icon behave identically to the system tray icon? I can just imagine no purpose for it otherwise.

[2022-10-16 01:26] rakleed opened #241 "Monochrome icon in macOS menu bar"
Could you please make the menu bar icon monochrome as this is the default behavior for most other macOS applications?

Useful links: https://developer.apple.com/design/human-interface-guidelines/components/system-experiences/the-menu-bar/#Menu-bar-extras and https://bjango.com/articles/designingmenubarextras/#colour-and-template-images

[2022-10-16 09:41] myleshorton commented on #241
Thanks @rakleed we'll get to this as soon as we're able.

[2022-11-03 01:52] rakleed opened #243 "Native support for Apple Silicon (arm64)"
Could you please add native support for Apple Silicon (arm64) for macOS?

More: https://developer.apple.com/documentation/apple-silicon/porting-your-macos-apps-to-apple-silicon

[2022-11-14 17:31] walterhwan opened #244 "Menu turn black after a few days"
Not sure if this is a known issue. The menu will consistently turn black after leaving it alone for a day or two. When I mouse over the black area it can show what's the normal menu item. I can still click on the menu items but it goes to black soon after.

![Screenshot 2022-11-12 073338](https://user-images.githubusercontent.com/35085484/201726491-9c402bf7-a6c3-4c5a-bdef-b6e629c908ed.jpg)

[2022-11-17 17:14] walterhwan commented on #244
I was able to track down the error to the `SetIcon` function. The error shows `Unable to convert icon to bitmap: The operation completed successfully`

I have a function where it will SetIcon of a menuItem every 5 seconds. And depend on a variable it will set to different icon. It all works fine changing icon initially. But if you let it sit for several hours it will show the above error. How is t

[2022-11-21 09:48] jdelrue commented on #243
+1

[2022-11-21 15:59] seflerZ opened #245 "Failed to compile in Windows ARM64 environment"
The errors are showing as follows:
[code]

It looks like some types are not found.